
@{
    ViewBag.Title = "About";
}
<script type="text/javascript">
    $("#home").addClass("two");
    $(".top-menu").find("a").removeClass("active");
    $(".top-menu").find("a:eq(1)").addClass("active");
</script>
<div class="second-head">
    <div class="container">
        <h2><a href="index.html"><h5>舞韵童心 </h5></a> / 关于我们</h2>
    </div>
</div>
<div class="about-section">
    <div class="container">
        <h3>关于我们</h3>
        <div class="about-content wow bounceIn animated" data-wow-delay="0.4s">
            <div class="col-md-5 about-top">
                <img src="/Content/images/ab.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-7 about-text">
                <h4 class="col-md-3 f-logo">F</h4>
                <p class="col-md-9 ab">Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer sucking relationships via premier niche markets.  service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service</p>
                <div class="clearfix"></div>
                <p class="para wow fadeInDownBig animated animated" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed mi metus, ac iaculis nisl. Aenean diam mauris, vestibulum sed egestas ut, vulputate in eros. Curabitur dapibus massa quis purus sagittis condimentum. Vivamus fermentum vulputate libero, id ultrices diam porta nec. Aenean quis vestibulum sem.</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed mi metus, ac iaculis nisl. Aenean diam mauris, vestibulum sed egestas ut, vulputate in eros. Curabitur dapibus massa quis purus sagittis condimentum. Vivamus fermentum vulputate libero, id ultrices diam porta nec. Aenean quis vestibulum sem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed mi metus, ac iaculis nisl. Aenean diam mauris, vestibulum sed egestas ut, vulputate in eros. Curabitur dapibus massa quis purus sagittis condimentum. Vivamus fermentum vulputate libero, id ultrices diam porta nec. Aenean quis vestibulum sem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed mi metus, ac iaculis nisl. Aenean diam mauris, vestibulum sed egestas ut, vulputate in eros. Curabitur dapibus massa quis purus sagittis condimentum. Vivamus fermentum vulputate libero, id ultrices diam porta nec. Aenean quis vestibulum sem.</p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>