
@{
    ViewBag.Title = "Teachers";
}
<script type="text/javascript">
    $(".top-menu").find("a").removeClass("active");
    $(".top-menu").find("a:eq(2)").addClass("active");
</script>

<div class="second-head">
    <div class="container">
        <h2><a href="index.html"><h5>舞韵童心</h5></a> / 师资力量</h2>
    </div>
</div>
<!--tainers-section-->
<div class="tainers-section">
    <div class="container">
        <!--sreen-gallery-cursual-->
        <div class="col-md-3 tainer wow bounceInLeft" data-wow-delay="0.4s">
            <h3>Our Trainers</h3>
            <p>Why not give one of these popular classes a look?</p>
        </div>
        <div class="col-md-9 sreen-gallery-cursual wow bounceInRight" data-wow-delay="0.4s">
            <!-- start content_slider -->
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t1.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t3.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t1.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t3.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t1.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-grid">
                        <div class="item-pic">
                            <img src="/Content/images/t3.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--//sreen-gallery-cursual-->
    </div>
</div>
<!-- requried-jsfiles-for owl -->
<link href="/Content/css/owl.carousel.css" rel="stylesheet">
<script src="/Content/js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            items: 3,
            lazyLoad: true,
            autoPlay: true,
            navigation: true,
            navigationText: false,
            pagination: false,
        });
    });
</script>

<!-- //requried-jsfiles-for owl -->

<!--start-events-->
<div class="new-section">
    <div class="container">
        <h3>我们的荣耀</h3>
        <div class="new">
            <div class="col-md-6 new-text wow rollIn animated" data-wow-delay="0.4s" ">
            <h5>THU 14 May, 2015</h5>
            <a href="single.html"><h4>How to lose fat fast</h4></a>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6 welcome-img">
                <a href="single.html" class="mask"><img src="/Content/images/n1.jpg" alt="image" class="img-responsive zoom-img"></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="new">
            <div class="col-md-6 new-text two wow rollIn animated" data-wow-delay="0.4s" ">
            <h5>THU 14 May, 2015</h5>
            <a href="single.html"><h4>Build your six pack</h4></a>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6 new-img two">
                <a href="single.html" class="mask"><img src="/Content/images/n3.jpg" alt="image" class="img-responsive zoom-img"></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="new">
            <div class="col-md-6 new-text wow rollIn animated" data-wow-delay="0.4s" ">
            <h5>THU 14 May, 2015</h5>
            <a href="single.html"><h4>How to lose fat fast</h4></a>
            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6 welcome-img">
                <a href="single.html" class="mask"><img src="/Content/images/n2.jpg" alt="image" class="img-responsive zoom-img"></a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

