<script src="~/Content/jquery.form.js"></script>
<script type="text/javascript">
    $(function () {
        var result = $.GetApiData(apiurl + "/Message/3A1B2624-28CC-4B37-ABDC-47AE626222F4");
        if (result.status == 1) {
            $.each(result.data, function (i, n) {
                $("#filled").append(GetHtml(n, true));
            })
        }
    })
    function GetHtml(obj, istop) {
        var html = '';
        html += '<div class="media"><a class="pull-left" href="#">';
        if (obj.Pic == null)
            html += '<i class="icon-user" style="font-size:54px;"></i>';
        else
            html += '<img class="media-object" src="/Content/img/sliders/elastislide/2.jpg" alt="" />';
        html += '</a>';
        html += '<div class="media-body" id=\'' + obj.ID + '\'>';
        if (istop)
            html += ' <h4 class="media-heading">' + obj.Content + '<span><a href="javascript:_Reply(\'' + obj.ID + '\',\'' + '@Guid.Empty' + '\')">回复</a> / <a href="javascript:GetMore(\'' + obj.ID + '\',\'' + '@Guid.Empty' + '\')">MORE >></a></span></h4>';
        else
            html += ' <h4 class="media-heading">' + obj.Content + '<span><a href="javascript:_Reply(\'' + obj.MessageID + '\',\'' + obj.ID + '\')">回复</a> / <a href="javascript:GetMore(\'' + obj.MessageID + '\',\'' + obj.ID + '\')">MORE >></a></span></h4>';
        html += ' <ul class="unstyled inline blog-info"><li><i class="icon-user"></i></li><a href="javascript:void(0);">匿名用户</a>';
        html += '&#12288;<li><i class="icon-time"></i></li><a href="javascript:void(0);">' + obj.CreateTime + '</a>';
        html += ' </ul>';
        html += ' <hr /></div>';
        return html;
    }
    function GetMore(mid, pid) {
        var result = $.GetApiData(apiurl + "/Message/?pid=" + pid + "&mid=" + mid);
        if (result.status == 1) {
            if (result.data.length == 0) {
                alert("没有更多信息....");
                return;
            }
            $.each(result.data, function (i, n) {
                if (pid == '00000000-0000-0000-0000-000000000000')
                    pid = mid;
                $("#" + pid).append(GetHtml(n, false));
            })
        }
    }
    function _Reply(id, pid) {
        $('#MessageID').val(id);
        $('#PID').val(pid);
        if ($("#_mesDiv").length == 0) {
            if (pid == '00000000-0000-0000-0000-000000000000')
                pid = id;
            $("#" + pid + " > hr").before('<div id="_mesDiv" style="display:none;"><textarea rows="8" class="span10" style="width:100%"></textarea><p><button type="button" class="btn-u" onclick="Reply_()">发布</button>&#12288;<button type="button" class="btn" onclick="_sub_over()">取消</button></p></div>');
            $("#_mesDiv").slideDown("slow");
        } else {
            $("#_mesDiv").slideUp("slow", function () {
                $("#_mesDiv").remove();
                _Reply(id);
            });
        }
    }

    function Reply_() {
        _subform($("#_mesDiv > textarea").val());
    }
    function _sub_over() {
        $("#_mesDiv").slideUp("slow", function () {
            $("#_mesDiv").remove();
        });
    }
    function _subform(content) {
        if ($.trim(content).length == 0) {
            alert("请输入留言内容");
            return;
        }
        $("#Content").val(encodeURIComponent(content));
        $("#form").ajaxSubmit(function (result) {
            if (result.error == "0")
                window.location.reload()
            alert(result.message);

        })
    }
</script>

<form action="http://api.com/api/Message" method="post" id="form">
    <input type="hidden" value="" id="PID" name="PID" />
    <input type="hidden" value="" id="MessageID" name="MessageID" />
    <textarea id="Content" name="Content" style="display:none;"></textarea>
</form>
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left" id="ClassName">留言板</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active" id="wz_ClassName">留言板</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<div class="container">
    <div class="post-comment">
        <h3 class="color-green">添加新留言</h3>
        <textarea rows="8" class="span10" style="width:100%"></textarea>
        <p><button type="button" class="btn-u" onclick="javascript: _subform($('.span10').val()); $('#PID').val('@Guid.Empty')">发布</button></p>
    </div>
    <div class="row-fluid blog-page blog-item">
        <!-- Media -->
        <div class="media" id="filled">

        </div><!--/media-->
    </div>
</div>
