
@{
    ViewBag.Title = "企业视频";
}
<link rel="stylesheet" href="/Content/css/img-hover-effect.css" />
<script src="~/Content/jBootstrapPage.js"></script>
<script type="text/javascript">
    $(function () {
        $("#picTable").bindPage({
            where: "ClassID|equal|" + '@ViewBag.ID',
            url: apiurl + "/news/",
            pagesize: 16,
            paginationObj: $(".pagination ul")
        })
    })
    function pageAfter(result, obj) {
        var html = "";
        $.each(result.content, function (i, n) {
            if (i % 4 == 0) {
                if (i > 0)
                    html += "</div>";
                html += '<div class="row-fluid"> ';
            }
            html += '<div class="view view-tenth span3">';
            html += '<img src="' + n.SlidePicStr + '" alt="" />';
            html += '<div class="mask">';
            html += '<h2>' + n.Title + '</h2>';
            html += '<a href="/Home/Video_Show/' + n.ID + '" class="info">Read More</a>';
            html += '</div></div>';
        })
        $("#picTable").html(html);
    }
</script>
<div class="row-fluid breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left" id="ClassName">企业视频</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">企业视频</li>
        </ul>
    </div>
</div>
<div class="container portfolio-columns portfolio-responsive" id="picTable">
</div>
<div class="pagination pagination-centered">
    <ul></ul>
</div>
