
@{
    ViewBag.Title = "About";
}

<!--幻灯片-->
<div class="banner banner_s"><img src="/Content/upload/banner_e.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd_em clearfix">
        <div class="scd_ml">
            <div class="b_h">
                <div class="name">
                    <img src="/Content/images/icon19.png" alt="" />
                    <span>关于我们</span>
                </div>
            </div>
            <ul>
                <li class="now"><a href="">公司介绍</a></li>
                <li><a href="">公司动态</a></li>
            </ul>
            <div class="space_hx">&nbsp;</div>
            <div class="ads"><a href=""><img src="/Content/upload/pic8.jpg" alt="" /></a></div>
        </div>
        <div class="scd_mr">
            <div class="b_h">
                <div class="pst">
                    当前所在位置: <a href="">首页</a>><a href="" class="on">关于我们</a>
                </div>
            </div>
            <div class="about">
                <div class="name"><img src="/Content/images/pic12.png" width="121" height="45" alt="" /></div>
                <div class="s_ctn">
                    <p style="text-indent:2em">
                        北京中联智睿国际市场调查公司是由八部委批准国家统计局颁发的专业化调查服务公司（国统涉外证字第1231号），公司致力于为社会调查、商业调查、国际涉外调查，提供优质高效的咨询调查服务。选择我们的理由：
                        1诚信的经营理念：智睿公司以守法、诚信、高效、保密为理念，把客户的事当成自己的事去做且拥有完善的保密制度。
                    </p><p style="text-indent:2em">
                        2.同行业最领先的调查水平：以最专业的技能为保障，可在各种环境下进行相关的工作；全球优势资源，顶尖技术水平，是商务信息咨询的最有力手段。
                    </p><p style="text-indent:2em">
                        3.专业精炼的人才团队：中联智睿的调查员都是受过专业训练的人员，完善的人才选拔及培训制度，培育出最精炼的调查人员，入职培训、在职培训和定期的封闭训练，使我们的调查员能应对任何艰难环境的考验。外编人员更是多达百人，分布各大行业，形成强大的社会资源和技术支持。
                    </p><p style="text-indent:2em">
                        4.在全球大多数大中城市均有办事机构和合作单位，社会资源广阔。
                    </p>
                </div>
                <div class="space_hx">&nbsp;</div>
                <div class="name"><img src="/Content/images/pic13.png" width="123" height="49" alt="" /></div>
                <div class="s_ctn">
                    <p class="black">企业愿景：</p>
                    <p>做国内一流的，企业金融服务专家</p>
                    <p class="black">企业文化：</p>
                    <p>勤勉专业、共创共赢</p>
                    <p class="black">员工使命：</p>
                    <p>为客户提供专业的金融方案和优质的资源整合平台</p>
                    <p class="black">企业价值观：</p>
                    <p>专业、创新、感恩</p>
                    <p class="black">企业口号：</p>
                    <p>融金汇智，使命必达</p>
                </div>
            </div>
        </div>
    </div>
</div>