
@{
    ViewBag.Title = "Case";
}

<!--幻灯片-->
<div class="banner banner_s"><img src="/Content/upload/banner_a.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd">
        <div class="b_h">
            <div class="name">
                <img src="/Content/images/icon15.png" alt="" />
                <span>成功案例</span>
            </div>
            <div class="pst">
                当前所在位置: <a href="">首页</a>><a href="" class="on">成功案例</a>
            </div>
        </div>
        <div class="scd_m">
            <div class="case">
                <dl class="clearfix">
                    <dt><a href=""><img src="/Content/upload/tp1.jpg" alt="" /></a></dt>
                    <dd>
                        <div class="title"><a href="">美国古巴今日重开大使馆</a></div>
                        <div class="des">
                            不过，中国人工作时间的下降趋势已至少持续30年。北京的劳动经济学家李长安说，“从上世纪八九十
                            年代起，中国劳动者工作时长越来越短。”这与劳动法改善、生产力逐渐提高和实行双休制有关。或许
                            不出人预料的是，中国最辛劳的工作者是常受到盘剥的农民工。《华尔街日报》援引......
                        </div>
                        <div class="more"><a href="">+ 查看详情</a></div>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt><a href=""><img src="/Content/upload/tp2.jpg" alt="" /></a></dt>
                    <dd>
                        <div class="title"><a href="">美国古巴今日重开大使馆</a></div>
                        <div class="des">
                            不过，中国人工作时间的下降趋势已至少持续30年。北京的劳动经济学家李长安说，“从上世纪八九十
                            年代起，中国劳动者工作时长越来越短。”这与劳动法改善、生产力逐渐提高和实行双休制有关。或许
                            不出人预料的是，中国最辛劳的工作者是常受到盘剥的农民工。《华尔街日报》援引......
                        </div>
                        <div class="more"><a href="">+ 查看详情</a></div>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt><a href=""><img src="/Content/upload/tp3.jpg" alt="" /></a></dt>
                    <dd>
                        <div class="title"><a href="">美国古巴今日重开大使馆</a></div>
                        <div class="des">
                            不过，中国人工作时间的下降趋势已至少持续30年。北京的劳动经济学家李长安说，“从上世纪八九十
                            年代起，中国劳动者工作时长越来越短。”这与劳动法改善、生产力逐渐提高和实行双休制有关。或许
                            不出人预料的是，中国最辛劳的工作者是常受到盘剥的农民工。《华尔街日报》援引......
                        </div>
                        <div class="more"><a href="">+ 查看详情</a></div>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt><a href=""><img src="/Content/upload/tp4.jpg" alt="" /></a></dt>
                    <dd>
                        <div class="title"><a href="">美国古巴今日重开大使馆</a></div>
                        <div class="des">
                            不过，中国人工作时间的下降趋势已至少持续30年。北京的劳动经济学家李长安说，“从上世纪八九十
                            年代起，中国劳动者工作时长越来越短。”这与劳动法改善、生产力逐渐提高和实行双休制有关。或许
                            不出人预料的是，中国最辛劳的工作者是常受到盘剥的农民工。《华尔街日报》援引......
                        </div>
                        <div class="more"><a href="">+ 查看详情</a></div>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt><a href=""><img src="/Content/upload/tp5.jpg" alt="" /></a></dt>
                    <dd>
                        <div class="title"><a href="">美国古巴今日重开大使馆</a></div>
                        <div class="des">
                            不过，中国人工作时间的下降趋势已至少持续30年。北京的劳动经济学家李长安说，“从上世纪八九十
                            年代起，中国劳动者工作时长越来越短。”这与劳动法改善、生产力逐渐提高和实行双休制有关。或许
                            不出人预料的是，中国最辛劳的工作者是常受到盘剥的农民工。《华尔街日报》援引......
                        </div>
                        <div class="more"><a href="">+ 查看详情</a></div>
                    </dd>
                </dl>
                <div class="space_hx">&nbsp;</div>
                <div class="pages">
                    <a href="" class="bg">上一页</a>
                    <a href="" class="now">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="">……</a>
                    <a href="" class="bg">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
