
@{
    ViewBag.Title = "Contact";
}
<!--幻灯片-->
<div class="banner banner_s"><img src="/Content/upload/banner_c.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd">
        <div class="b_h">
            <div class="name">
                <img src="/Content/images/icon17.png" alt="" />
                <span>联系我们</span>
            </div>
            <div class="pst">
                当前所在位置: <a href="">首页</a>><a href="" class="on">联系我们</a>
            </div>
        </div>
        <div class="scd_m">
            <div class="contact">
                <dl class="clearfix">
                    <dt><img src="/Content/images/pic11.png" alt="" /></dt>
                    <dd>
                        <p>公司电话：400-991-3768、86133119 </p>
                        <p>公司传真：0755-86133117 </p>
                        <p>公司邮箱：86133117@163.com</p>
                        <p>企业 QQ：5556668880</p>
                        <p>公司地址：中国北京市海淀区车道沟110室</p>
                    </dd>
                </dl>
                <img src="/Content/upload/pic6.jpg" alt="" />
            </div>
        </div>
    </div>
</div>