
@{
    ViewBag.Title = "News";
}
<!--幻灯片-->
<div class="banner banner_s"><img src="/Content/upload/banner_g.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd_em clearfix">
        <div class="scd_ml">
            <div class="b_h">
                <div class="name">
                    <img src="/Content/images/icon21.png" alt="" />
                    <span>新闻资讯</span>
                </div>
            </div>
            <ul>
                <li class="now"><a href="">时事热点</a></li>
                <li><a href="">行业动态</a></li>
            </ul>
            <div class="space_hx">&nbsp;</div>
            <div class="ads"><a href=""><img src="/Content/upload/pic11.jpg" alt="" /></a></div>
        </div>
        <div class="scd_mr">
            <div class="b_h">
                <div class="pst">
                    当前所在位置: <a href="">首页</a>><a href="" class="on">新闻资讯</a>
                </div>
            </div>
            <div class="news">
                <div class="name"><img src="/Content/images/pic15.png" width="129" height="44" alt="" /></div>
                <div class="news_m">
                    <ul>
                        <li class="hot clearfix">
                            <a href="">
                                <div class="time">
                                    <b>08</b>
                                    2015-10
                                </div>
                                <div class="li_m">
                                    <dl class=" clearfix">
                                        <dt><img src="/Content/upload/pic10.jpg" alt="" /></dt>
                                        <dd>
                                            大众点评和美团网正式敲定合并。双方联合发布声明，宣布达成战略合作，共同成立布达成战略合作，共同成立布达成战略合作，共同成立......
                                        </dd>
                                    </dl>
                                </div>
                            </a>
                        </li>
                        <li class="hot clearfix">
                            <a href="">
                                <div class="time">
                                    <b>08</b>
                                    2015-10
                                </div>
                                <div class="li_m">
                                    <dl class=" clearfix">
                                        <dt><img src="/Content/upload/pic10.jpg" alt="" /></dt>
                                        <dd>
                                            大众点评和美团网正式敲定合并。双方联合发布声明，宣布达成战略合作，共同成立布达成战略合作，共同成立布达成战略合作，共同成立......
                                        </dd>
                                    </dl>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="time">
                                    <b>08</b>
                                    2015-10
                                </div>
                                <div class="li_m">
                                    <p>大众点评和美团网正式敲定合并。双方联合发布声明，宣布达成战略合......</p>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="time">
                                    <b>08</b>
                                    2015-10
                                </div>
                                <div class="li_m">
                                    <p>大众点评和美团网正式敲定合并。双方联合发布声明，宣布达成战略合......</p>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="time">
                                    <b>08</b>
                                    2015-10
                                </div>
                                <div class="li_m">
                                    <p>大众点评和美团网正式敲定合并。双方联合发布声明，宣布达成战略合......</p>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="time">
                                    <b>08</b>
                                    2015-10
                                </div>
                                <div class="li_m">
                                    <p>大众点评和美团网正式敲定合并。双方联合发布声明，宣布达成战略合......</p>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="time">
                                    <b>08</b>
                                    2015-10
                                </div>
                                <div class="li_m">
                                    <p>大众点评和美团网正式敲定合并。双方联合发布声明，宣布达成战略合......</p>
                                </div>
                            </a>
                        </li>
                        <li class="clearfix">
                            <a href="">
                                <div class="time">
                                    <b>08</b>
                                    2015-10
                                </div>
                                <div class="li_m">
                                    <p>大众点评和美团网正式敲定合并。双方联合发布声明，宣布达成战略合......</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="space_hx">&nbsp;</div>
                    <div class="pages">
                        <a href="" class="bg">上一页</a>
                        <a href="" class="now">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">5</a>
                        <a href="">……</a>
                        <a href="" class="bg">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>