
@{
    ViewBag.Title = "Seach";
}

<!--幻灯片-->
<div class="banner banner_s"><img src="/Content/upload/banner_d.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd">
        <div class="b_h">
            <div class="name">
                <img src="/Content/images/icon18.png" alt="" />
                <span>查询系统</span>
            </div>
            <div class="pst">
                当前所在位置: <a href="">首页</a>><a href="" class="on">查询系统</a>
            </div>
        </div>
        <div class="scd_m">
            <ul class="apply">
                <li class="clearfix">
                    <span class="title">姓名：</span>
                    <div class="li_m">
                        <input name="" type="text">
                    </div>
                </li>
                <li class="clearfix">
                    <span class="title">身份证号：</span>
                    <div class="li_m">
                        <input name="" type="text">
                    </div>
                </li>
                <li class="clearfix">
                    <span class="title">统一编号：</span>
                    <div class="li_m">
                        <input name="" type="text">
                    </div>
                </li>
                <li class="clearfix yzm">
                    <span class="title">验证号码：</span>
                    <div class="li_m">
                        <input name="" type="text">
                        <a href=""><img src="/Content/upload/pic7.jpg" alt="" /></a>
                    </div>
                </li>
                <li class="clearfix yzm">
                    <span class="title">&nbsp;</span>
                    <div class="li_m">
                        <input name="" type="submit" value="查询" class="btn">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

