<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>中联智睿</title>
    <link rel="stylesheet" type="text/css" href="/Content/css/reset.css" />
    <script type="text/javascript" src="/Content/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/Content/js/js_z.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/plugins/FlexSlider/flexslider.css">
    <script type="text/javascript" src="/Content/plugins/FlexSlider/jquery.flexslider.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/css/thems.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/responsive.css">

</head>
<body>
    <!--头部-->
    <div class="header i_bg_a">
        <div class="head clearfix">
            <div class="logo"><a href="/"><img src="/Content/images/logo.png" alt="中联智睿" /></a></div>
            <div class="head_r">
                <span class="qq">QQ：<em>0000000000</em></span>
                <span class="tel">热线电话：<b>400-110-110</b></span>
            </div>
        </div>
        <div class="space_hx">&nbsp;</div>
        <div class="nav_m">
            <div class="n_icon">&nbsp;导航栏</div>
            <ul class="nav clearfix">
                <li class="now"><a href="/">首页</a></li>
                <li>
                    <a href="/Home/About">关于我们</a>
                    <ul>
                        <li><a href="/Home/About">公司介绍</a></li>
                        <li><a href="/Home/About">公司动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/Home/News">调查资讯</a>
                    <ul>
                        <li><a href="/Home/News">新闻热点</a></li>
                        <li><a href="/Home/News">深度评论</a></li>
                    </ul>
                </li>
                <li><a href="/Home/Case">成功案例</a></li>
                <li><a href="/Home/News">中国调查</a></li>
                <li><a href="/Home/News">合作伙伴</a></li>
                <li><a href="/Home/News">法规政策</a></li>
                <li><a href="/Home/Contact">联系我们</a></li>
            </ul>
        </div>
    </div>
    <!--头部-->
    @RenderBody()
    <div class="space_hx">&nbsp;</div>
    <div class="f_bg">
        <div class="foot">
            <div class="f_m clearfix">
                <div class="f_v">
                    <div class="b_h">友情链接</div>
                    <ul class="d_nav" style="padding:0;">
                        <li class=""><a href="">国家统计局</a></li>
                        <li class=""><a href="">中国网</a></li>
                        <li class=""><a href="">中国人大网</a></li>
                        <li class=""><a href="">全国政协</a></li>
                        <li class=""><a href="">中国政府网</a></li>
                        <li class=""><a href="">人民网</a></li>
                        <li class=""><a href="">新华网</a></li>
                        <li class=""><a href="">中国青年网</a></li>
                        <li class=""><a href="">中国经济网</a></li>
                        <li class=""><a href="">未来网</a></li>
                        <li class=""><a href="">中国人才网</a></li>
                        <li class=""><a href="">警察与法治网光明网即刻搜索</a></li>
                        <div style="clear:both"></div>
                    </ul>
                    
                </div>
                <div class="share">
                    <a href=""><img src="/Content/images/icon3.png" alt="" /></a>
                    <a href=""><img src="/Content/images/icon4.png" alt="" /></a>
                    <a href=""><img src="/Content/images/icon5.png" alt="" /></a>
                </div>
            </div>
            <p>地址：中国北京市海淀区车道沟110室 &nbsp;&#12288;&#12288;&#12288;电话：0755-82095403 0755-82095327</p>
            <p>版权所有 © 2011-2014 中联智睿国际 ICP备14014796号-1 站长统计</p>
        </div>
    </div>
</body>
</html>
