
@{
    ViewBag.Title = "隆森康居";
}
<script type="text/javascript">
    $(function () {
        TouchSlide({
            slideCell: "#news_slide",
            mainCell: ".bd ul",
            effect: "leftLoop",
            autoPlay: true//自动播放

        });
    })
</script>
<div id="carousel-example-generic" class="carousel slide  fadeInDown wow" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/content/images/banner.jpg" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="/content/images/banner1.jpg" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="/content/images/banner2.jpg" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section class="main3">
    <div class="container">
        <div class="title wow bounceInLeft">
            <h2>提供一站式企业服务</h2>
            <p>ONE-STOP BUSINESS SERVICES</p>
        </div>
        <div class="contact wow bounceInLeft animated">
            <a href=""><img src="/content/images/weixin1.png" /></a>
            <a href=""><img src="/content/images/weibo.png" /></a>
            <a href=""><img src="/content/images/hkf.png" /></a>
        </div>
        <div class="safty wow bounceInRight animated">
            <a href="">省心</a>
            <a href="">私密</a>
            <a href="">专属</a>
        </div>
    </div>
</section>
<section id="recent-works">
    <div class="container">
        <div class="center wow slideInLeft">
            <h2>产品系列</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 wow bounceInLeft">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/content/images/item1.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">全木门系列</a> </h3>
                            <p> CC全木门系列是美心蒙迪公司推出的最新拳头产品。2015年初，美心蒙迪在行业内首推“全木门”概念，领创发布全木门产品！全木门... ...</p>
                            @*<a class="preview" href="" rel="prettyPhoto" title=""><i class="fa fa-search"></i></a>*@ 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInUp">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/content/images/item2.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">CC+系列</a></h3>
                            <p>CC+系列产品继承了CC系列全木特质 并在其基础上融入更为高端客户追捧的极品质量与时尚外观，时尚与质量并存，正为大多是外观与品质兼顾的消费者所喜爱！</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow bounceInRight">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/content/images/item3.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">TT系列</a></h3>
                            <p>对生活品质的追求随处可见，一本书，一个茶杯，或者每天都会触碰到的一扇门。TT系列家族有简约型风格、欧式风格。简约风格体现了我们对生活的态度，其实生活不需要那么复杂......</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow bounceInLeft">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/content/images/item4.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">木质门系列</a></h3>
                            <p>
                                无论诗意地表达“柴门闻犬吠”的寒门，还是古罗马时期象征胜利的凯旋门，古往今来，门已经渐渐从安全和私密属性上升为精神通道。每个人的内心都有一扇门，幸福将此叩开，灵魂来去自由……
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInDown">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/content/images/item5.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">混油+系列</a></h3>
                            <p>
                                这款木质门升级产品 立体感尤为强烈 线条柔美 色泽淡雅 给人温馨愉悦之感 为您的爱家增加时尚立体氛围
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow bounceInRight">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/content/images/item6.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">天然木皮系列</a></h3>
                            <p> P系列扣线门以实木集成指接材为主料，高密填充板为辅料，经过高温加压后制成实心门扇;实木集成指接材经过烘干及科学处理，其含水率已经得到严格控制，不易变形，平整度良好，... ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<div class="main4">
    <section class="container">
        <div class="center wow slideInLeft">
            <h2>最新资讯</h2>
            <p class="new_more"><a href="newlist.html">更多资讯</a></p>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div id="news_slide" class="news_slide_box wow bounceInLeft">
                    <div class="bd">
                        <div class="tempWrap" style="overflow:hidden; position:relative;">
                            <ul style="width: 1832px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translate(-916px, 0px) translateZ(0px);">
                                <li style="display: table-cell; vertical-align: top; width: 458px;">
                                    <a class="pic" href="#">
                                        <img src="/content/images/pic07.jpg">
                                        <span class="title">
                                            新闻标题新闻标题新闻标题新闻标题新闻标题
                                        </span>
                                    </a>
                                </li>
                                <li style="display: table-cell; vertical-align: top; width: 458px;">
                                    <a class="pic" href="#">
                                        <img src="/content/images/pic07.jpg">
                                        <span class="title">
                                            新闻标题
                                        </span>
                                    </a>
                                </li>
                                <li style="display: table-cell; vertical-align: top; width: 458px;">
                                    <a class="pic" href="#">
                                        <img src="/content/images/pic07.jpg">
                                        <span class="title">
                                            新闻标题新闻标题新闻标题新闻标题新闻标题
                                        </span>
                                    </a>
                                </li>
                                <li style="display: table-cell; vertical-align: top; width: 458px;">
                                    <a class="pic" href="#">
                                        <img src="/content/images/pic07.jpg">
                                        <span class="title">
                                            新闻标题
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span class="prev"></span>
                    <span class="next"></span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <ul class="news_list wow bounceInRight">
                    <li>
                        <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="#" class="">
                                <img src="/content/images/pic07.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <a href="#" class="news_tit">北京木制品委员会成立 行业整合之势逐步推进中</a>
                            <p class="news_time">2016-02-18</p>
                            <p class="news_desc">2016年1月24日，北京家居行业协会木制品委员会成立正式成立，此次木制品委员会的成立，旨在加强对木制品生产企业的专项服务，全面提升木制品企业的创新能</p>
                        </div>
                    </li>
                    <li>
                        <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="#" class="">
                                <img src="/content/images/pic07.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <a href="#" class="news_tit">北京木制品委员会成立 行业整合之势逐步推进中</a>
                            <p class="news_time">2016-02-18</p>
                            <p class="news_desc">2016年1月24日，北京家居行业协会木制品委员会成立正式成立，此次木制品委员会的成立，旨在加强对木制品生产企业的专项服务，全面提升木制品企业的创新能</p>
                        </div>
                    </li>
                    <li>
                        <div class="news_pic col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a href="#" class="">
                                <img src="/content/images/pic07.jpg">
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <a href="#" class="news_tit">北京木制品委员会成立 行业整合之势逐步推进中</a>
                            <p class="news_time">2016-02-18</p>
                            <p class="news_desc">2016年1月24日，北京家居行业协会木制品委员会成立正式成立，此次木制品委员会的成立，旨在加强对木制品生产企业的专项服务，全面提升木制品企业的创新能</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<div class="main5">
    <div class="container">
        <a href="" class="m5logo wow slideInLeft"><img src="/content/images/logomain5.png" /></a>
        <h2 class="wow slideInRight">YOUR LIFETIME BUTLER </h2>
        <h3 class="wow slideInLeft">您 的 终 身 管 家 </h3>
    </div>
</div>