
@{
    ViewBag.Title = "隆森康居";
}
<script src="~/Content/jquery-tmpl.js"></script>
<script src="~/Content/jBootstrapPage.js"></script>
<script type="text/javascript">
    $(function () {
        //产品类别
        var class_result = $.GetApiData(apiurl + "/Class/AB370AAD-1052-4964-BD5B-3028ECCC4579?cid=06D624F3-204D-4101-87D3-B0E756236FF8");
        if (class_result.status == 1) {
            //$("#class_result_Model").tmpl(class_result.data).appendTo("#ClassItems");
            $(".s-list-left ul").html("");
            var htmlstr = "<h2>产品系列</h2>";
            $.each(class_result.data, function (i, n) {
                htmlstr += "<li><a href='javascript:GetItems(\"" + n.ID + "\")'>" + n.Title + "</a></li>";
            })
            $(".s-list-left ul").html(htmlstr);
            GetItems(class_result.data[0].ID, class_result.data[0].Title);
        }
    })
    function GetItems(cid) {
        //获取分页
        $(".s-list-right").bindPage({
            where: "ClassID|equal|" + cid + "#DR|equal|0",
            url: apiurl + "/Product/",
            pagesize: 1,
            paginationObj: $(".pages")
        });
    }

</script>
<script type="text/x-jquery-tmpl" id="dataModel">
    <li class="item">
        <img src="${sourceWeb}${SlidePic}" alt="" height="164" width="280">
        <div class="content">
            <p class="title"> ${Title} </p>
            <p>型号：${Attr[0].val.Value}</p>
            <p>系列：${Attr[4].val.Value}</p>
            <p>材质：${Attr[1].val.Value}</p>
            <p>用途：${Attr[2].val.Value}</p>
            <p>官方指导价：￥${Attr[3].val.Value}</p>
            <a href="/Home/Products_Show/${ID}" class="more content1">了解更多</a>
        </div>
    </li>
</script>
<!--内容-->
<div class="conbox"  style="min-height:500px;">
    <div class="container mt20" id="container">
        <div class="s-list-left">
            <ul>
            </ul>
        </div>
        <ul class="s-list-right">
          

        </ul>
    </div>
</div>

