
@{
    ViewBag.Title = "Products_list";
}

 <!--内容-->
<div class="conbox">
    <div class="container mt20" id="container">
        <div class="s-list-left">
            <ul>
                <h2>产品系列</h2>
                <li><a href="lifeserver.html">全木门系列</a></li>
                <li><a href="service.html">CC+系列</a></li>
                <li><a href="business.html">TT系列</a></li>
                <li><a href="business.html">木质门系列</a></li>
                <li><a href="business.html">混油+系列</a></li>
                <li><a href="business.html">天然木皮系列</a></li>
            </ul>
        </div>
        <ul class="s-list-right">
            <li class="item">
                <img src="/content/images/hwg.jpg" alt="" height="164">
                <div class="content">
                    <p class="title"> 产品特性 </p>
                    <p>型号：N723</p>
                    <p>系列：木质门系列</p>
                    <p>材质：表面云彩梦幻漆+MDF+轻型骨架+铁衫木內筋</p>
                    <p>用途：室内门</p>
                    <p>官方指导价：￥2299</p>
                    <a href="/Home/Products_Show" class="more content1">了解更多</a>
                </div>
            </li>
            <li class="item">
                <img src="/content/images/hwg.jpg" alt="" height="164">
                <div class="content">
                    <p class="title"> 产品特性 </p>
                    <p>型号：N723</p>
                    <p>系列：木质门系列</p>
                    <p>材质：表面云彩梦幻漆+MDF+轻型骨架+铁衫木內筋</p>
                    <p>用途：室内门</p>
                    <p>官方指导价：￥2299</p>
                    <a href="javascript:;" class="more content1">了解更多</a>
                </div>
            </li>
            <li class="item">
                <img src="/content/images/hwg.jpg" alt="" height="164">
                <div class="content">
                    <p class="title"> 产品特性 </p>
                    <p>型号：N723</p>
                    <p>系列：木质门系列</p>
                    <p>材质：表面云彩梦幻漆+MDF+轻型骨架+铁衫木內筋</p>
                    <p>用途：室内门</p>
                    <p>官方指导价：￥2299</p>
                    <a href="javascript:;" class="more content1">了解更多</a>
                </div>
            </li>
            <li class="item">
                <img src="/content/images/hwg.jpg" alt="" height="164">
                <div class="content">
                    <p class="title"> 产品特性 </p>
                    <p>型号：N723</p>
                    <p>系列：木质门系列</p>
                    <p>材质：表面云彩梦幻漆+MDF+轻型骨架+铁衫木內筋</p>
                    <p>用途：室内门</p>
                    <p>官方指导价：￥2299</p>
                    <a href="javascript:;" class="more content1">了解更多</a>
                </div>
            </li>
            <li class="item">
                <img src="/content/images/hwg.jpg" alt="" height="164">
                <div class="content">
                    <p class="title"> 产品特性 </p>
                    <p>型号：N723</p>
                    <p>系列：木质门系列</p>
                    <p>材质：表面云彩梦幻漆+MDF+轻型骨架+铁衫木內筋</p>
                    <p>用途：室内门</p>
                    <p>官方指导价：￥2299</p>
                    <a href="javascript:;" class="more content1">了解更多</a>
                </div>
            </li>

        </ul>
    </div>
</div>
