
@{
    ViewBag.Title = "Products_Show";
}
<link href="/content/css/base.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/content/js/jquery.jqzoom.js"></script>
<script type="text/javascript" src="/content/js/base.js"></script><div class="container">
    <div class="member-box">
        <h2>产品系列<span>APPLICATION FOR MEMBERSHIP</span></h2>
        <div style="margin:15px;">
            <div id="preview" class="spec-preview"> 
                <span class="jqzoom"><img jqimg="/content/images/b1.jpg" src="/content/images/s1.jpg" /></span> 
            </div>
            <!--缩图开始-->
            <div class="spec-scroll">
                <a class="prev">&lt;</a> <a class="next">&gt;</a>
                <div class="items">
                    <ul>
                        <li><img alt="佳能" bimg="/content/images/b1.jpg" src="/content/images/s1.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b2.jpg" src="/content/images/s2.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b3.jpg" src="/content/images/s3.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b1.jpg" src="/content/images/s1.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b3.jpg" src="/content/images/s3.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b1.jpg" src="/content/images/s1.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b2.jpg" src="/content/images/s2.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b1.jpg" src="/content/images/s1.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b2.jpg" src="/content/images/s2.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b2.jpg" src="/content/images/s2.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b1.jpg" src="/content/images/s1.jpg" onmousemove="preview(this);"></li>
                        <li><img alt="佳能" bimg="/content/images/b2.jpg" src="/content/images/s2.jpg" onmousemove="preview(this);"></li>
                    </ul>
                </div>
            </div>
            <!--缩图结束-->
        </div>
    </div>
</div>