
@{
    ViewBag.Title = "About";
}
<script type="text/javascript">
    $(".m_bg").remove();
    $(function () {
        //$(".m_bg").remove();
        var result = $.GetApiData(apiurl + "/Content/" + '@ViewBag.ID');
        if (result.status == 1) {
            $("#Title").html(result.data.Title);
            $("#EnTitle,#EnTitles").html(result.data.EnTitle);
            $("#content,#contents").html(result.data.DescriptionStr);
            //$("#Publisher").html(result.data.Publisher);
            //$("#Count").html(result.data.Count);
            //$(".loading").hide();
        }
    })
</script>
<!--幻灯片-->
<div class="banner_s"><img src="/Content/upload/banner_b.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd clearfix">
        <div class="scd_r" style="width:100%;">
            <div class="r_top r_top_a">
                <p id="EnTitles">ABOUT US</p>
                <em id="Titles">关于我们</em>
            </div>
            <div class="scd_rm">
                <div class="pst">
                    <div class="line">&nbsp;</div>
                    <p id="EnTitle"></p>
                    <b id="Title"></b>
                </div>
                <div class="about" id="content">
                </div>
            </div>
        </div>
    </div>
</div>
