<script src="~/Content/jquery-tmpl.js"></script>
<script language="javascript">
    $(window).load(function () {
        $('.header').removeClass('h_fix');
        $('.flexslider').flexslider({
            animation: "slide"
        });
        //$('.s_a').click(function () { $('html,body').animate({ scrollTop: $('.a').offset().top }, 500); });
        //$('.s_b').click(function () { $('html,body').animate({ scrollTop: $('.b').offset().top }, 500); });
        //$('.s_c').click(function () { $('html,body').animate({ scrollTop: $('.c').offset().top }, 500); });
        //$('.s_d').click(function () { $('html,body').animate({ scrollTop: $('.d').offset().top }, 500); });
        //$('.s_e').click(function () { $('html,body').animate({ scrollTop: $('.e').offset().top }, 500); });
        //$('.s_f').click(function () { $('html,body').animate({ scrollTop: $('.f').offset().top }, 500); });
    });
    $(window).scroll(function () {
        if ($(window).scrollTop() > 0) {
            $('.header').addClass('h_fix');
        } else {
            $('.header').removeClass('h_fix');
        }
        if ($(window).scrollTop() > 2000) {
            $('.m_bg').addClass('m_bg_a');
        } else {
            $('.m_bg').removeClass('m_bg_a');
        }
    });
    $(function () {
        //关于我们
        var result = $.GetApiData(apiurl + "/Content/" + urlitems.gywm);
        if (result.status == 1) {
            $("#Gywm").html(result.data.Short_Desc);
        }
        //产品中心
        var pro_result = $.GetApiData(apiurl + "/Product?classid=" + urlitems.cpzx + "&count=3");
        if (pro_result.status == 1) {
            $("#pro_result_Model").tmpl(pro_result.data).appendTo("#Cpzx");
            $("#Cpzx li:last").css("margin-right", 0);
        }
        //新闻中心
        var new_result = $.GetApiData(apiurl + "/News/" + urlitems.xwzx + "?type=1&count=4");
        if (new_result.status == 1) {
            $("#new_result_Model").tmpl(new_result_Model.data).appendTo("#Xwzx");
        }
        //解决方案

    })
</script>
<script type="text/x-jquery-tmpl" id="pro_result_Model">
    <li>
        <a href="">
            <div class="tu"><img src="${sourceWeb}${SlidePic}" alt="" /></div>
            <div class="name">${Title}</div>
        </a>
    </li>
</script>
<script type="text/x-jquery-tmpl" id="new_result_Model">
    <li>
        <dl class="clearfix">
            <a href="">
                <dt>
                    09-28
                    <p>2015 YEAR</p>
                </dt>
                <dd>
                    <div class="title">深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司</div>
                    <p>深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司成立于2013年，总部设在中国深圳。现已发展成为一家拥有多项自主知识产权、专注于道路与安防监控、智慧停车产品，集研发生产与销售于一体的现代化高科技企业。 </p>
                </dd>
            </a>
        </dl>
    </li>
</script>
<!--幻灯片-->
<div class="banner a">
    <div class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li><a href=""><img class="scrollLoading" src="/Content/images/banner1.jpg" alt="" /></a></li>
                <li><a href=""><img class="scrollLoading" src="/Content/images/banner2.jpg" alt="" /></a></li>
                <li><a href=""><img class="scrollLoading" src="/Content/images/banner3.jpg" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>
<!--幻灯片-->

<div class="i_mf b">
    <div class="i_name">
        <em>关于</em>我们
        <p>ABOUT US</p>
    </div>
    <div class="i_mfm">
        <p id="Gywm"></p>
    </div>
    <div class="more"><a href="/Home/About/F3076D41-FA91-4165-8D0F-F8C183F6BF97">MORE</a></div>
</div>



<div class="i_m i_ma c">
    <div class="i_name">
        <em>产品</em>中心
        <p>PRODUCT CENTER</p>
    </div>
    <ul class="clearfix" id="Cpzx"></ul>
</div>

<div class="i_me d">
    <div class="i_name">
        <em>新闻</em>中心
        <p>NEWS</p>
    </div>
    <ul id="Xwzx">
    </ul>
    <div class="more"><a href="/Home/news/E7327750-5EE5-4A4A-A4A7-B8120CBAD26A">MORE</a></div>
</div>

@*<div class="i_m i_mb i_mc e">
    <div class="i_name">
        <em>工程</em>案例
        <p>ENGINEERING CASE</p>
    </div>
    <ul class="clearfix">
        <li>
            <a href="">
                <div class="title">卡口系统</div>
                <img src="/Content/upload/pic5.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="">
                <div class="title">卡口系统</div>
                <img src="/Content/upload/pic5.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="">
                <div class="title">卡口系统</div>
                <img src="/Content/upload/pic5.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>*@
<div class="i_m i_mb f">
    <div class="i_name">
        <em>解决</em>方案
        <p>SOLUTION</p>
    </div>
    <ul class="clearfix">
        <li>
            <a href="">
                <div class="title">视频电子警察系统</div>
                <img src="/Content/upload/pic4.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="">
                <div class="title">闯红灯抓拍（地感线圈检测）</div>
                <img src="/Content/upload/pic4.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="">
                <div class="title">闯红灯抓拍 纯视频检测</div>
                <img src="/Content/upload/pic4.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>
<div class="i_md g">
    <div class="i_name">
        <em>技术</em>支持
        <p>TECHNICAL SUPPORT</p>
    </div>
    <div class="i_mdm clearfix">
        <div class="i_mdl">
            <div class="box_h">
                <span>常见问题</span>
                <a href="">MORE></a>
            </div>
            <ul>
                <li class="wen">
                    <span>问</span>
                    <div class="nr">1． 文件（或流）打开失败？</div>
                </li>
                <li class="da">
                    <span>答</span>
                    <div class="nr">
                        <p>1、 生成文件（流）的编码器比播放器新，播放器只向后兼容。 </p>
                        <p>2、文件少于4k. </p>
                        <p>3、 文件中找不到完整的有效数据，可能是应用软件写文件时缓冲区操作有误。</p>
                    </div>
                </li>
                <li class="wen">
                    <span>问</span>
                    <div class="nr">2． 文件 （或流）可以打开但无法播放，关闭声音或改变播放速度后可以播放？</div>
                </li>
                <li class="da">
                    <span>答</span>
                    <div class="nr">
                        <p>文件头和实际码流不对应。复合流的文件头加到了纯视频流文件（或流）上。</p>
                    </div>
                </li>
                <li class="wen">
                    <span>问</span>
                    <div class="nr"> 3． 关闭声音或改变播放速度后文件仍然无法播放，但进度条在走？</div>
                </li>
                <li class="da">
                    <span>答</span>
                    <div class="nr">
                        <p>1、录像数据有误。</p>
                        <p>2、 启动了Netmeeting，或者显卡驱动有缺陷，导致无法显示。</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="i_mdr">
            <div class="box_h">
                <span>常见问题</span>
                <a href="">MORE></a>
            </div>
            <ul>
                <li>
                    <a href="">
                        <p>网络SDK开发帮助手册V3.0.5</p>
                        <em>2015-10-12</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>网络SDK开发帮助手册V3.0.5</p>
                        <em>2015-10-12</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>网络SDK开发帮助手册V3.0.5</p>
                        <em>2015-10-12</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>网络SDK开发帮助手册V3.0.5</p>
                        <em>2015-10-12</em>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>网络SDK开发帮助手册V3.0.5</p>
                        <em>2015-10-12</em>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="i_mg">
    <div class="i_name">
        <em>联系</em>我们
        <p>CONTACT US</p>
    </div>
    <div class="i_mgm clearfix">
        <ul class="clearfix">
            <li class="one">
                <img src="/Content/images/icon5.png" alt="" />
                <p>13233592206</p>
            </li>
            <li>
                <img src="/Content/images/icon6.png" alt="" />
                <p>0359-2560710</p>
            </li>
            <li>
                <img src="/Content/images/icon7.png" alt="" />
                <p>运城市豪德九区十一街十九号</p>
            </li>
        </ul>
        <div class="space_hx">&nbsp;</div>
        <ul class="i_book clearfix">
            <li class="chang">如果您在使用我们产品时遇到问题，或者对我们有任何意见建议，欢迎在此留言，我们将关注您的问题并尽快与您联系。</li>
            <li>
                <span>姓名</span>
                <input name="" type="text">
            </li>
            <li>
                <span>邮箱</span>
                <input name="" type="text">
            </li>
            <li class="chang">
                <span>留言</span>
                <textarea name="" cols="" rows=""></textarea>
            </li>
            <li class="btn">
                <input name="" type="submit" value="立即提交">
            </li>
        </ul>
    </div>
</div>
