
@{
    ViewBag.Title = "News";
}
<!--幻灯片-->
<div class="banner_s"><img src="/Content/upload/banner_a.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd clearfix" style="width:100%;">
        <div class="scd_r" style="width:100%;">
            <div class="r_top">
                <p>NEWSR</p>
                <em>新闻中心</em>
            </div>
            <div class="i_me d">
                <ul>
                    <li>
                        <dl class="clearfix">
                            <a href="">
                                <dt>
                                    09-28
                                    <p>2015 YEAR</p>
                                </dt>
                                <dd>
                                    <div class="title">深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司</div>
                                    <p>深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司成立于2013年，总部设在中国深圳。现已发展成为一家拥有多项自主知识产权、专注于道路与安防监控、智慧停车产品，集研发生产与销售于一体的现代化高科技企业。 </p>
                                </dd>
                            </a>
                        </dl>
                    </li>
                    <li>
                        <dl class="clearfix">
                            <a href="">
                                <dt>
                                    09-28
                                    <p>2015 YEAR</p>
                                </dt>
                                <dd>
                                    <div class="title">深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司</div>
                                    <p>深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司成立于2013年，总部设在中国深圳。现已发展成为一家拥有多项自主知识产权、专注于道路与安防监控、智慧停车产品，集研发生产与销售于一体的现代化高科技企业。 </p>
                                </dd>
                            </a>
                        </dl>
                    </li>
                    <li>
                        <dl class="clearfix">
                            <a href="">
                                <dt>
                                    09-28
                                    <p>2015 YEAR</p>
                                </dt>
                                <dd>
                                    <div class="title">深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司</div>
                                    <p>深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司成立于2013年，总部设在中国深圳。现已发展成为一家拥有多项自主知识产权、专注于道路与安防监控、智慧停车产品，集研发生产与销售于一体的现代化高科技企业。 </p>
                                </dd>
                            </a>
                        </dl>
                    </li>
                    <li>
                        <dl class="clearfix">
                            <a href="">
                                <dt>
                                    09-28
                                    <p>2015 YEAR</p>
                                </dt>
                                <dd>
                                    <div class="title">深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司</div>
                                    <p>深圳市芊熠智能硬件有限公司前身深圳市为科科技有限公司成立于2013年，总部设在中国深圳。现已发展成为一家拥有多项自主知识产权、专注于道路与安防监控、智慧停车产品，集研发生产与销售于一体的现代化高科技企业。 </p>
                                </dd>
                            </a>
                        </dl>
                    </li>
                </ul>
                <div class="pages">
                    <a href="">《</a>
                    <a href="" class="now">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">》</a>
                </div>
            </div>
        </div>
    </div>
</div>