
@{
    ViewBag.Title = "News";
}
<script type="text/javascript">
    $(function () {
        $(".m_bg").remove();

    })
</script>
<script src="~/Content/jquery-tmpl.js"></script>
<script src="~/Content/jBootstrapPage.js"></script>
<script type="text/x-jquery-tmpl" id="dataModel">
    <li>
        <dl class="clearfix">
            <a href="/Home/News_Show/{{html ID}}">
                <dt>
                    {{html CreateTime_.Month}}-{{html CreateTime_.Day}}
                    <p>{{html CreateTime_.Year}}</p>
                </dt>
                <dd>
                    <div class="title">${Title}</div>
                    <p>${Short_Dec}</p>
                </dd>
            </a>
        </dl>
    </li>
</script>
<script type="text/javascript">
    $(function () {
        $("#news").bindPage({
            where: "ClassID|equal|" + '@ViewBag.ID' + "#DR|equal|0",
            url: apiurl + "/news/",
            pagesize: 12,
            paginationObj: $(".pagination")
        })
    })
</script>
<!--幻灯片-->
<div class="banner_s"><img src="/Content/upload/banner_a.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd clearfix" style="width:100%;">
        <div class="scd_r" style="width:100%;">
            <div class="r_top">
                <p>NEWSR</p>
                <em>新闻中心</em>
            </div>
            <div class="i_me d">
                <ul id="news">
                </ul>
                <div class="pages pagination">
                    @*<a href="">《</a>
                    <a href="" class="now">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">》</a>*@
                </div>
            </div>
        </div>
    </div>
</div>