
@{
    ViewBag.Title = "Product";
}
<script src="~/Content/jquery-tmpl.js"></script>
<script src="~/Content/jBootstrapPage.js"></script>
<script type="text/javascript">
    $(function () {
        //产品类别
        var class_result = $.GetApiData(apiurl + "/Class/" + urlitems.cpzx + "?cid=" + urlitems.CID);
        if (class_result.status == 1) {
            $("#class_result_Model").tmpl(class_result.data).appendTo("#ClassItems");
            GetItems(class_result.data[0].ID, class_result.data[0].Title);
        }
    })
    function GetItems(cid, title) {
        $("#T_title").html(title);
        //获取分页
        $("#Pro_dome").bindPage({
            where: "ClassID|equal|" + cid + "#DR|equal|0",
            url: apiurl + "/Product/",
            pagesize: 1,
            paginationObj: $(".pages")
        });
    }

</script>
<script type="text/x-jquery-tmpl" id="class_result_Model">
    <li><a href="javascript:GetItems('${ID}','${Title}')">${Title}</a></li>
</script>
<script type="text/x-jquery-tmpl" id="dataModel">
    <dl class="clearfix">
        <dt><a href="/Home/Product_Show/${ID}"><img src="/Content/upload/pic6.jpg" alt="" /></a></dt>
        <dd>
            <div class="title"><a href="/Home/Product_Show/${ID}">${Title}</a></div>
            <div class="name"><span>产品概述</span></div>
            <p>${Short_Dec}...</p>
        </dd>
    </dl>
</script>
<!--幻灯片-->
<div class="banner_s"><img src="/Content/upload/banner_a.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd clearfix">
        <ul class="scd_l" id="ClassItems">
            @*<li class="now"><a href="">停车场产品</a></li>
                <li><a href="">智能安防产品</a></li>
                <li><a href="">智能交通产品</a></li>*@
        </ul>
        <div class="scd_r">
            <div class="r_top">
                <p>PRODUCT CENTER</p>
                <em>产品中心</em>
            </div>
            <div class="scd_rm">
                <div class="pst">
                    <div class="line">&nbsp;</div>
                    <b id="T_title"></b>
                </div>
                <div class="pro" id="Pro_dome">

                </div>
                <div class="pages">
                    @*<a href="">《</a>
                    <a href="" class="now">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">》</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
