
@{
    ViewBag.Title = "Solution";
}
<!--幻灯片-->
<div class="banner_s"><img src="/Content/upload/banner_d.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd clearfix">
        <ul class="scd_l">
            <li class="now"><a href="">智慧停车</a></li>
            <li><a href="">智能安防</a></li>
            <li><a href="">智能交通</a></li>
            <li><a href="demo.html">演示专栏</a></li>
        </ul>
        <div class="scd_r">
            <div class="r_top r_top_a">
                <p>SOLUTION</p>
                <em>解决方案</em>
            </div>
            <div class="scd_rm">
                <div class="pst">
                    <div class="line">&nbsp;</div>
                    <p>SMART PARKING</p>
                    <b>智慧停车</b>
                </div>
                <div class="pro">
                    <dl class="clearfix">
                        <dt><a href=""><img src="/Content/upload/pic7.jpg" alt="" /></a></dt>
                        <dd>
                            <div class="title"><a href="">全嵌入式停车场出入口管理系统</a></div>
                            <div class="name"><span>系统概述</span></div>
                            <p>系统以全嵌入式出入口管理控制终端，配合出入口一体化联动设备，对停车场进出车辆进行识别、抬闸、收费、放行等管理工作。广泛应用于各类停车场出入口场景。</p>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><a href=""><img src="/Content/upload/pic7.jpg" alt="" /></a></dt>
                        <dd>
                            <div class="title"><a href="">全嵌入式停车场出入口管理系统</a></div>
                            <div class="name"><span>系统概述</span></div>
                            <p>系统以全嵌入式出入口管理控制终端，配合出入口一体化联动设备，对停车场进出车辆进行识别、抬闸、收费、放行等管理工作。广泛应用于各类停车场出入口场景。</p>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><a href=""><img src="/Content/upload/pic7.jpg" alt="" /></a></dt>
                        <dd>
                            <div class="title"><a href="">全嵌入式停车场出入口管理系统</a></div>
                            <div class="name"><span>系统概述</span></div>
                            <p>系统以全嵌入式出入口管理控制终端，配合出入口一体化联动设备，对停车场进出车辆进行识别、抬闸、收费、放行等管理工作。广泛应用于各类停车场出入口场景。</p>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><a href=""><img src="/Content/upload/pic7.jpg" alt="" /></a></dt>
                        <dd>
                            <div class="title"><a href="">全嵌入式停车场出入口管理系统</a></div>
                            <div class="name"><span>系统概述</span></div>
                            <p>系统以全嵌入式出入口管理控制终端，配合出入口一体化联动设备，对停车场进出车辆进行识别、抬闸、收费、放行等管理工作。广泛应用于各类停车场出入口场景。</p>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><a href=""><img src="/Content/upload/pic7.jpg" alt="" /></a></dt>
                        <dd>
                            <div class="title"><a href="">全嵌入式停车场出入口管理系统</a></div>
                            <div class="name"><span>系统概述</span></div>
                            <p>系统以全嵌入式出入口管理控制终端，配合出入口一体化联动设备，对停车场进出车辆进行识别、抬闸、收费、放行等管理工作。广泛应用于各类停车场出入口场景。</p>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><a href=""><img src="/Content/upload/pic7.jpg" alt="" /></a></dt>
                        <dd>
                            <div class="title"><a href="">全嵌入式停车场出入口管理系统</a></div>
                            <div class="name"><span>系统概述</span></div>
                            <p>系统以全嵌入式出入口管理控制终端，配合出入口一体化联动设备，对停车场进出车辆进行识别、抬闸、收费、放行等管理工作。广泛应用于各类停车场出入口场景。</p>
                        </dd>
                    </dl>
                    <dl class="clearfix">
                        <dt><a href=""><img src="/Content/upload/pic7.jpg" alt="" /></a></dt>
                        <dd>
                            <div class="title"><a href="">全嵌入式停车场出入口管理系统</a></div>
                            <div class="name"><span>系统概述</span></div>
                            <p>系统以全嵌入式出入口管理控制终端，配合出入口一体化联动设备，对停车场进出车辆进行识别、抬闸、收费、放行等管理工作。广泛应用于各类停车场出入口场景。</p>
                        </dd>
                    </dl>
                    <div class="pages">
                        <a href="">《</a>
                        <a href="" class="now">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">》</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>