
@{
    ViewBag.Title = "Support";
}
<script type="text/javascript">
    $(function () {
        var cls = $.GetApiData(apiurl + "/Class/" + '@ViewBag.ID');
        if (cls.status == 1) {
            $("#cls_en").html(cls.data.EnTitle);
            $("#cls_name,#cls_name1").html(cls.data.Title)
        }

        var new_result = $.GetApiData(apiurl + "/News/" + '@ViewBag.ID' + "?type=0&count=10");
        if (new_result.status == 1) {
            var imghtml = '<ul class="clearfix">';
            $.each(new_result.data, function (i, n) {
                imghtml += '<li>';
                imghtml += '<div class="title"><img src="' + n.SlidePicStr + '" /></div>';
                imghtml += '</li>';
                if ((i + 1) % 2 == 0) {
                    imghtml += '</ul><ul class="clearfix">'
                }
            });
            imghtml += "</ul>";
            $("#imgItems").append(imghtml);
        }
    })
</script>
<!--幻灯片-->
<div class="banner_s"><img src="/Content/upload/banner_c.jpg" alt="" /></div>
<!--幻灯片-->
<div class="s_bg">
    <div class="scd clearfix">
        <div class="scd_r" style="width:100%;">
            <div class="r_top">
                <p id="cls_en">TECHNICAL SUPPORT</p>
                <em id="cls_name">技术支持</em>
            </div>
            <div class="scd_rm">
                <div class="pst">
                    <div class="line">&nbsp;</div>
                    <b id="cls_name1">常见问题</b>
                </div>
                <div class="demo" id="imgItems">

                </div>
            </div>
        </div>
    </div>
</div>