<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!--mobile apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
           addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!--mobile apps-->
    <!--Custom Theme files -->
    <link href="/Content/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/Content/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/Content/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!--web-fonts-->
    <link href='http://fonts.useso.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
    <!--animate-->
    <link href="/Content/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="/Content/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
    <!-- start-smoth-scrolling-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!--//end-smoth-scrolling-->
</head>
<body>
    <!--banner-->
    <div id="home" class="banner">
        <div class="banner-info">
            <div class="banner-top">
                <div class="container">
                    <div class="col-md-6 banner-top-left wow slideInDown animated" data-wow-delay=".5s">
                        <ul class="social-icons">
                            <li><a href="#"> </a></li>
                            <li><a href="#" class="fb"> </a></li>
                            <li><a href="#" class="in"> </a></li>
                            <li><a href="#" class="dott"> </a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 banner-top-right wow slideInDown animated" data-wow-delay=".5s">
                        <p><span class="glyphicon glyphicon-earphone"></span> +11 999 8888 7777 </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="banner-text">
                <h1 class="wow slideInLeft animated" data-wow-delay=".5s"><a href="index.html">Scrutiny</a></h1>
                <p class="wow slideInRight animated" data-wow-delay=".5s">Lorem Ipsum was popularised </p>
            </div>
            <!--navigation-->
            <div class="top-nav wow">
                <div class="container">
                    <div class="navbar-header logo">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            Menu
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div class="menu">
                            <ul class="nav navbar">
                                <li class="menu-item menu-item-current"><a href="#home" class="menu-link scroll">Home</a></li>
                                <li class="menu-item"><a href="#about" class="menu-link scroll">About</a></li>
                                <li class="menu-item"><a href="#services" class="menu-link scroll">Services</a></li>
                                <li class="menu-item"><a href="#work" class="menu-link scroll">Works</a></li>
                                <li class="menu-item"><a href="#gallery" class="menu-link scroll">Gallery</a></li>
                                <li class="menu-item"><a href="#contact" class="menu-link scroll">Contact</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                        <script src="js/classie.js"></script>
                        <script>
                            (function () {
                                [].slice.call(document.querySelectorAll('.menu')).forEach(function (menu) {
                                    var menuItems = menu.querySelectorAll('.menu-link'),
										setCurrent = function (ev) {
										    ev.preventDefault();

										    var item = ev.target.parentNode; // li

										    // return if already current
										    if (classie.has(item, 'menu-item-current')) {
										        return false;
										    }
										    // remove current
										    classie.remove(menu.querySelector('.menu-item-current'), 'menu-item-current');
										    // set current
										    classie.add(item, 'menu-item-current');
										};

                                    [].slice.call(menuItems).forEach(function (el) {
                                        el.addEventListener('click', setCurrent);
                                    });
                                });
                            })(window);
                        </script>
                    </div>
                    <!-- script-for sticky-nav -->
                    <script>
                        $(document).ready(function () {
                            var navoffeset = $(".top-nav").offset().top;
                            $(window).scroll(function () {
                                var scrollpos = $(window).scrollTop();
                                if (scrollpos >= navoffeset) {
                                    $(".top-nav").addClass("fixed");
                                } else {
                                    $(".top-nav").removeClass("fixed");
                                }
                            });

                        });
                    </script>
                    <!-- /script-for sticky-nav -->
                </div>
            </div>
            <!--//navigation-->
        </div>
    </div>
    <!--//banner-->
    <!--welcome-->
    <div class="welcome" id="about">
        <div class="container">
            <h2 class="title wow slideInDown animated" data-wow-delay=".5s">Welcome To Study Abroad</h2>
            <div class="col-md-4 welcome-left wow slideInLeft animated" data-wow-delay=".5s">
                <img src="/Content/images/img1.jpg" alt="" />
            </div>
            <div class="col-md-8 welcome-right wow slideInRight animated" data-wow-delay=".5s">
                <h5>01</h5>
                <h4>About Us</h4>
                <p>Aenean sed euismod sem ac iaculis metus. Vestibulum velit dolor pulvinar ut tempus sit amet, congue eget velit. Cras vestibulum interdum elit, vel elementum diam interdum id. Nulla pharetra lacus sed ac iaculis metus auctor sollicitudin. Donec molestie augue a eros auctor aliquam. In vitae posuere massa. </p>
            </div>
            <div class="clearfix"> </div>
            <div class="col-md-7 welcome-bottom-left wow slideInLeft animated" data-wow-delay=".5s">
                <img src="/Content/images/img2.jpg" alt="" />
                <h5>02</h5>
                <h4>Our Mission</h4>
                <p>Aenean sed euismod sem ac iaculis metus. Vestibulum velit dolor pulvinar ut tempus sit amet, congue eget velit. Cras vestibulum interdum elit, vel elementum diam interdum id. Nulla pharetra lacus sed ac iaculis metus auctor sollicitudin. Donec molestie augue a eros auctor aliquam. In vitae posuere massa. </p>
            </div>
            <div class="col-md-5 welcome-bottom-right wow slideInRight animated" data-wow-delay=".5s">
                <div class="welcome-grid-left">
                    <img src="/Content/images/img3.jpg" alt="" />
                </div>
                <div class="welcome-grid-right">
                    <h5>03</h5>
                    <h4>What We do</h4>
                    <p>Aenean sed euismod sem ac iaculis metus. Vestibulum velit dolor pulvinar ut tempus sit amet, congue eget velit. Cras vestibulum interdum elit, vel elementum diam interdum id. Nulla pharetra lacus sed ac iaculis metus auctor sollicitudin. Donec molestie augue a eros auctor aliquam. In vitae posuere massa. </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//welcome-->
    <!--services-->
    <div class="welcome services" id="services">
        <div class="container">
            <h3 class="title wow fadeInDown animated" data-wow-delay=".5s">Our Services</h3>
            <div class="services-info">
                <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
                    <div class="service">
                        <div class="icon-holder">
                            <span class="glyphicon glyphicon-book"></span>
                        </div>
                        <h4 class="heading">Skill Development</h4>
                        <p class="text">Vestibulum velit dolor pulvinar ut tempus sit amet, congue eget velit</p>
                    </div>
                </div>
                <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
                    <div class="service">
                        <div class="icon-holder">
                            <span class="glyphicon glyphicon-education"></span>
                        </div>
                        <h4 class="heading">Student Guidance</h4>
                        <p class="text">Tibulumves velit dolor pulvinar ut tempus sit amet, congue eget velit</p>
                    </div>
                </div>
                <div class="col-md-4 services-grids wow zoomIn animated" data-wow-delay=".5s">
                    <div class="service">
                        <div class="icon-holder">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </div>
                        <h4 class="heading"> Advising Students</h4>
                        <p class="text">Dolor vestibulum velit pulvinar ut tempus sit amet, congue eget velit</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//services-->
    <!--work-->
    <div class="welcome work" id="work">
        <div class="container">
            <div class="work-info">
                <div class="col-md-3 work-grids work-grd1 wow slideInLeft animated" data-wow-delay=".5s">
                    <h3 class="title">Work</h3>
                    <p>Aenean sed euismod sem ac iaculis metus congue eget velit, Nulla pharetra lacus sed ac iaculis metus auctor sollicitudin. Donec molestie augue a eros auctor aliquam. In vitae posuere massa. </p>
                    <ul>
                        <li><span class="glyphicon glyphicon-ok-circle"></span> Lorem ipsum dolor sit </li>
                        <li><span class="glyphicon glyphicon-ok-circle"></span> Morbi pretium lacus neque</li>
                        <li><span class="glyphicon glyphicon-ok-circle"></span> Phasellus posuere nisi ve</li>
                        <li><span class="glyphicon glyphicon-ok-circle"></span> Etiam blandit orci blandit</li>
                    </ul>
                </div>
                <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
                    <img src="/Content/images/img4.jpg" alt="" />
                    <div class="img-caption">
                        <div class="img-text">
                            <h4>Lorem ipsum</h4>
                            <p>Etiam pellentesque felis dolor quis efficitur eros </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
                    <img src="/Content/images/img5.jpg" alt="" />
                    <div class="img-caption">
                        <div class="img-text">
                            <h4>Euismod sem </h4>
                            <p>Vestibulum celit dolor pulvinar ut tempus sit amet </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 work-grids wow zoomIn animated" data-wow-delay=".5s">
                    <img src="/Content/images/img6.jpg" alt="" />
                    <div class="img-caption">
                        <div class="img-text">
                            <h4>Cras maximus</h4>
                            <p>Suspendi ipsum magna ut luctus eget condimentum </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//work-->
    <!--slid-->
    <div class="slid">
        <div class="container">
            <h3 class="wow slideInDown animated" data-wow-delay=".5s">
                Working Hours:<br>
                Monday – Saturday 8:00 a.m – 9:00 p.m <br>
                Sunday 10 a.m – 4 p.m <br>
                <span class="glyphicon glyphicon-earphone"></span> +11 999 8888 7777
            </h3>
            <p class="wow fadeInUp animated" data-wow-delay=".5s">
                Pellentesque ultrices erat ut quam mattis, sed tempus lorem lacinia. Etiam ut diam rhoncus, viverra ipsum eu, semper metus. Quisque commodo maximus sagittis.
                Praesent efficitur quam metus. Duis ac tempor risus. Nulla facilisi. Fusce eget neque bibendum, gravida nibh eget, dignissim erat.
            </p>
        </div>
    </div>
    <!--//slid-->
    <!--gallery-->
    <div id="gallery" class="welcome gallery">
        <div class="container">
            <h3 class="title">Gallery</h3>
            <div class="gallery-info">
                <div class="col-md-6 gallery-grids glry-grid1">
                    <div class="gallery-grids-top">
                        <a href="#portfolioModal1" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                            <img src="/Content/images/g1.jpg" class="img-responsive" alt="" />
                            <div class="b-wrapper">
                                <span class="b-animate b-from-left">
                                    <img class="img-responsive" src="/Content/images/e.png" alt="" />
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="gallery-grids-top">
                        <div class="col-md-6 bottom-grids">
                            <a href="#portfolioModal2" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                                <img src="/Content/images/g2.jpg" class="img-responsive" alt="" />
                                <div class="b-wrapper">
                                    <span class="b-animate b-from-left">
                                        <img class="img-responsive" src="/Content/images/e.png" alt="" />
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 bottom-grids ">
                            <a href="#portfolioModal3" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                                <img src="/Content/images/g3.jpg" class="img-responsive" alt="" />
                                <div class="b-wrapper">
                                    <span class="b-animate b-from-left">
                                        <img class="img-responsive" src="/Content/images/e.png" alt="" />
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 gallery-grids glry-grid1">
                    <div class="gallery-grids-top">
                        <div class="col-md-6 bottom-grids2 ">
                            <a href="#portfolioModal4" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                                <img src="/Content/images/g4.jpg" class="img-responsive" alt="" />
                                <div class="b-wrapper">
                                    <span class="b-animate b-from-left">
                                        <img class="img-responsive" src="/Content/images/e.png" alt="" />
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 bottom-grids2 ">
                            <a href="#portfolioModal5" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                                <img src="/Content/images/g5.jpg" class="img-responsive" alt="" />
                                <div class="b-wrapper">
                                    <span class="b-animate b-from-left">
                                        <img class="img-responsive" src="/Content/images/e.png" alt="" />
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="gallery-grids-top ">
                        <a href="#portfolioModal6" class="b-link-stripe b-animate-go wow zoomIn animated" data-wow-delay=".5s" data-toggle="modal">
                            <img src="/Content/images/g6.jpg" class="img-responsive" alt="" />
                            <div class="b-wrapper">
                                <span class="b-animate b-from-left">
                                    <img class="img-responsive" src="/Content/images/e.png" alt="" />
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- gallery Modals -->
                <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="portfolio-container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body">
                                        <h3>Our Gallery</h3>
                                        <hr>
                                        <img src="/Content/images/g1.jpg" class="img-responsive img-centered" alt="">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="portfolio-container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body">
                                        <h3>Our Gallery</h3>
                                        <hr>
                                        <img src="/Content/images/g2.jpg" class="img-responsive img-centered" alt="">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="portfolio-container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body">
                                        <h3>Our Gallery</h3>
                                        <hr>
                                        <img src="/Content/images/g3.jpg" class="img-responsive img-centered" alt="">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="portfolio-container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body">
                                        <h3>Our Gallery</h3>
                                        <hr>
                                        <img src="/Content/images/g4.jpg" class="img-responsive img-centered" alt="">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="portfolio-container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body">
                                        <h3>Our Gallery</h3>
                                        <hr>
                                        <img src="/Content/images/g5.jpg" class="img-responsive img-centered" alt="">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="portfolio-container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body">
                                        <h3>Our Gallery</h3>
                                        <hr>
                                        <img src="/Content/images/g6.jpg" class="img-responsive img-centered" alt="">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//gallery Modals -->
            </div>
        </div>
    </div>
    <!--//gallery-->
    <!--contact -->
    <div class="welcome contact" id="contact">
        <div class="container">
            <h3 class="title wow fadeInDown animated" data-wow-delay=".5s">Contact Us</h3>
            <div class="contact-row">
                <div class="col-md-6 contact-right wow slideInRight animated" data-wow-delay=".5s">
                    <h4>Address:</h4>
                    <div class="address-left">
                        <p>Lorem ipsum dolor sit amet conse adipiscing elit. Proin in justo tortoroin consectetur lorem id massa luctus</p>
                    </div>
                    <div class="address-right">
                        <p>Call us : +11 222 333 4444</p>
                        <p>E-mail : <a href="mailto:info@example.com">mail@example.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                    <!--accordion-->
                    <div class="info">
                        <h4>Useful Information :</h4>
                        <ul class="faq">
                            <li class="item1 wow fadeInDown animated" data-wow-delay=".5s">
                                <a href="#"><span class="glyphicon glyphicon-chevron-down"></span> Donec ut quam ligula feugiat</a>
                                <ul>
                                    <li class="subitem1"><p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p></li>
                                </ul>
                            </li>
                            <li class="item2 wow fadeInDown animated" data-wow-delay=".5s">
                                <a href="#"><span class="glyphicon glyphicon-chevron-down"></span> The standard Lorem Ipsum passage</a>
                                <ul>
                                    <li class="subitem1"><p> Tincidunt ut laoreet dolore At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p></li>
                                </ul>
                            </li>
                            <li class="item3 wow fadeInDown animated" data-wow-delay=".5s">
                                <a href="#"><span class="glyphicon glyphicon-chevron-down"></span> Consectetuer adipiscing elit</a>
                                <ul>
                                    <li class="subitem1"><p>Dincidunt ut laoreet dolore At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p></li>
                                </ul>
                            </li>
                            <li class="item4 wow fadeInDown animated" data-wow-delay=".5s">
                                <a href="#"><span class="glyphicon glyphicon-chevron-down"></span> Sed diam nonummy nibh euismod</a>
                                <ul>
                                    <li class="subitem1"><p>At vero eos et Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod  </p></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- script for tabs -->
                        <script type="text/javascript">
                            $(function () {

                                var menu_ul = $('.faq > li > ul'),
									   menu_a = $('.faq > li > a');

                                menu_ul.hide();

                                menu_a.click(function (e) {
                                    e.preventDefault();
                                    if (!$(this).hasClass('active')) {
                                        menu_a.removeClass('active');
                                        menu_ul.filter(':visible').slideUp('normal');
                                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                                    } else {
                                        $(this).removeClass('active');
                                        $(this).next().stop(true, true).slideUp('normal');
                                    }
                                });

                            });
                        </script>
                        <!-- script for tabs -->
                    </div>
                    <!--accordion-->
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="contact-form">
                <h3 class="title wow fadeInDown animated" data-wow-delay=".5s">Get In Touch</h3>
                <p>Sed ut turpis elit ullamcorper in auctor non, accumsan vel lacus nulla auctor cursus nunc. Maecenas ultricies dolor in urna tempus, id egestas erat finibus  interdum lectus eget scelerisque.</p>
                <form class="wow fadeInUp animated" data-wow-delay=".5s">
                    <input type="text" placeholder="Name" required="">
                    <input class="email" type="text" placeholder="Email" required="">
                    <input type="text" placeholder="Phone" required="">
                    <textarea placeholder="Message" required=""></textarea>
                    <input class="wow zoomIn animated" data-wow-delay=".5s" type="submit" value="SUBMIT">
                </form>

            </div>
        </div>
    </div>
    <!--//contact -->
    <!--footer-->
    <div class="welcome footer">
        <div class="container">
            <div class="col-md-4 footer-grids wow fadeInLeft animated" data-wow-delay=".5s">
                <h3>Review</h3>
                <p>Sed ut turpis elit ullamcorper in auctor non, accumsan vel lacus nulla auctor cursus nunc. Maecenas ultricies dolor in urna tempus, id egestas erat finibus  interdum lectus eget scelerisque.</p>
            </div>
            <div class="col-md-3 footer-grids wow fadeInLeft animated" data-wow-delay=".5s">
                <h3>Contact Me</h3>
                <p>
                    111-2nd Avenue Canada.<br>
                    New York City USA.<br>
                    Office : +00 111 1111 111<br>
                    Support to : <a href="mailto:info@example.com">mail@example.com</a>
                </p>
            </div>
            <div class="col-md-5 footer-grids wow fadeInRight animated" data-wow-delay=".5s">
                <h3>Newsletter</h3>
                <form>
                    <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="clearfix"> </div>
            <div class="footer-copy wow slideInUp animated" data-wow-delay=".5s">
                <p>Copyright &copy; 2016.Company name All rights reserved.</p>
            </div>
        </div>
    </div>
    <!--//footer-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>