
@{
    ViewBag.Title = "Contact";
}
<div id="ban-in" style="background-image:url(/images/14415953225349.jpg)">
    <div class="ban-bg"></div>
</div>
<div class="row4 fix">
    <div class="wp">
        <div class="tit-i">
            <h3>联系我们</h3>
            <h5><span>contact</span> webthink</h5>
        </div>
        <div class="contact-l">
            <ul class="ul-contact">
                <li class="li1">北京市朝阳区建国路88号SOHO现代城6#3208</li>
                <li class="li2"><a href="tel:010-51265006">010-51265006 (咨询) / <a href="tel:010-52459737">52459737 (售后)<br /><a href="tel:400-008-0408">400-008-0408 (咨询)</a><br /><a href="tel:13581789985">13581789985 (咨询)</a></li>
                <li class="li3"><a href="mailto:sales@webthink.com.cn">sales@webthink.com.cn</a></li>
            </ul>
        </div>
        <div class="contact-r">
            <!--<iframe scrolling="no" frameborder="0" src="guest.php" width="100%" height="235"></iframe>-->
            <form action="" class="contact-form" method="post">
                <div class="">
                    <input type="text" class="inp l" name="name" id="name" placeholder="您的姓名">
                    <input type="text" class="inp r" name="tel" id="tel" placeholder="您的联系方式">
                </div>
                <textarea cols="30" rows="10" name="txt_con" id="txt"></textarea>
                <input type="submit" value="提交您的需求" class="sub" id="sub">
            </form>
        </div>
    </div>
</div>

