@{
    ViewBag.Title = "鑫跃国际";
    ViewBag._menu = 0;
}
<script type="text/javascript">
    $(function () {
        //学员风采
        var obj_xyfc = $.GetApiData(apiurl + "/News/" + urlitems.xyfc + "?type=0&count=8");
        if (obj_xyfc.status == 1) {
            var slider_ht = "";
            $.each(obj_xyfc.data, function (i, n) {
                slider_ht += '<li>';
                slider_ht += '<a href="case_info_4_110.html">';
                slider_ht += '<div class="pic"><img src="' + n.SlidePicStr + '"></div>';
                slider_ht += '<div class="hover">';
                slider_ht += '<b></b>';
                slider_ht += '<div class="txt">';
                slider_ht += '<img src="/images/logo_small.png" alt="">';
                slider_ht += '<h3>鑫跃国际</h3>';
                slider_ht += '</div>';
                slider_ht += '</div>';
                slider_ht += '</a>';
                slider_ht += '</li>';
            })
            $("#_xyfc_div").html(slider_ht);
        }
        //行业动态
        var obj_hydt = $.GetApiData(apiurl + "/News/" + urlitems.hydt + "?type=0&count=4");
        if (obj_hydt.status == 1) {
            var slider_ht = "";
            $.each(obj_hydt.data, function (i, n) {
                slider_ht += '<li>';
                slider_ht += '<div class="pad">';
                slider_ht += '<div class="txt">';
                slider_ht += '<span><em>' + n.CreateTime_.Day + '/' + n.CreateTime_.Month + '</em>' + n.CreateTime_.Year + '</span>';
                slider_ht += '<h3><a href="news_info_5_313.html">' + n.Title + '</a></h3>';
                slider_ht += '<p>' + (n.Short_Dec.length > 40 ? n.Short_Dec.substr(0, 40) + "..." : n.Short_Dec) + '</p>';
                slider_ht += '<a href="news_info_5_313.html" class="more"></a>';
                slider_ht += '</div>';
                slider_ht += '<div class="hover">';
                slider_ht += '<div class="img" style="background: url(' + n.SlidePicStr + ') 0 0 /100% 100% no-repeat;background: url(images/14568143499060.jpg) 0 0 no-repeat\9;"></div>';
                slider_ht += '<div class="pad">';
                slider_ht += '<h3><a href="news_info_5_313.html">' + n.Title + '</a></h3>';
                slider_ht += '<p>' + (n.Short_Dec.length > 40 ? n.Short_Dec.substr(0, 40) + "..." : n.Short_Dec) + '</p>';
                slider_ht += '</div>';
                slider_ht += '</div>';
                slider_ht += '</div>';
                slider_ht += '</li>';
            })
            $("#_hydt_div").html(slider_ht);
            $('.ul-news-i li').hover(function () {
                $(this).toggleClass('on');
            })
        }
    })
</script>
<div id="bd">
    <div id="banner">
        <div class="banner-bg"></div>
        <div class="flexslider">
            <ul class="slides">
                <li class="s1">
                    <img src="/images/banner3.jpg">
                    <div class="ban-txt">
                        <h5 data-animate="fadeInDown" class="animated">重要通知/innovating</h5>
                        <h2 data-animate="fadeInRight" class="animated">你学软件&nbsp;我送笔记本</h2>
                        <h3 data-animate="fadeInUp" class="animated">就业为导向 <b style="color:#fff;">保证</b> 高薪就业，即退全款！</h3>
                    </div>
                </li>
                <li class="s2">
                    <img src="/images/banner2.jpg">
                    <div class="ban-txt">
                        <h2 data-animate="fadeInRight" class="animated">正确的选择，可以少奋斗十年</h2>
                        <h3 data-animate="fadeInDown" class="animated">"Internet" technology</h3>
                        <h4 data-animate="fadeInUp" class="animated">“互联网”技术绝对是未来发展的核心，机会就在眼前，不能错过！</h4>
                        <h6 data-animate="fadeInUp" class="animated">www.0359i.com</h6>
                    </div>
                </li>
                <li class="s3">
                    <img src="/images/banner1.jpg">
                    <div class="ban-txt">
                        <h2 data-animate="fadeInDown" class="animated">岗前培训 高薪就业</h2>
                        <h3 data-animate="fadeInRight" class="animated">独特的教学方案</h3>
                        <h4 data-animate="fadeInUp" class="animated">一对一教学方案，手把手教你开发软件</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- end #banner -->
    <div class="row1 fix">
        <div class="wp">
            <div class="tit-i">
                <h3>鑫跃服务</h3>
                <h5>XINYUE <span>SERVICE</span></h5>
            </div>
            <ul class="ul-icon-i">
                <li class="li1">
                    <div class="pad">
                        <a href="/Home/Service/">
                            <span></span>
                            <h3>软件工程师人才培养</h3>
                            <em></em>
                            <p>“互联网”技术绝对是未来的发展核心。</p>
                            <div class="pic">
                                <img src="/images/m1.png" alt="">
                                <img src="/images/m2.png" alt="" class="pic-icon">
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li2">
                    <div class="pad">
                        <a href="">
                            <span></span>
                            <h3>“响应式”网站建设</h3>
                            <em></em>
                            <p>实现一个站点，所有平台全兼容，更智能、边界，用户体验急速提升。</p>
                            <div class="pic">
                                <img src="/images/m3.png" alt="">
                                <img src="/images/m4.png" alt="" class="pic-icon">
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li3">
                    <div class="pad">
                        <a href="">
                            <span></span>
                            <h3>微信应用开发</h3>
                            <em></em>
                            <p>微信已经家喻户晓，微信营销和宣传效果，已经被大多数人认可和使用</p>
                            <div class="pic">
                                <img src="/images/m5.png" alt="">
                                <img src="/images/m6.png" alt="" class="pic-icon">
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li4">
                    <div class="pad">
                        <a href="">
                            <span></span>
                            <h3>手机APP开发</h3>
                            <em></em>
                            <p>按客户意图来定制开发app系统，IOS 安卓任您挑选，持续为企业无线创造新价值。</p>
                            <div class="pic">
                                <img src="/images/m7.png" alt="">
                                <img src="/images/m8.png" alt="" class="pic-icon">
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row2 fix">
        <div class="wp">
            <div class="tit-i">
                <h3>学员风采</h3>
                <h5><span>case</span> of XINYUE</h5>
            </div>
            <div class="case-i">

                <div class="case-i-r" style="width: 100%;">
                    <ul class="ul-case-i" id="_xyfc_div"></ul>
                </div>
                <div class="c"></div>
                <div class="more-i"><a href="case4_0-1"></a></div>
            </div>
        </div>
    </div>
    <div class="row3 news-bg">
        <div class="wp">
            <div class="tit-i tit-i-1">
                <h3>行业动态</h3>
                <h5>XINYUE <span>news</span></h5>
            </div>
            <ul class="ul-news-i" id="_hydt_div"></ul>
            <div class="c"></div>
            <div class="news-more"><a href="news5_0-1">load more</a></div>
        </div>
    </div>
    <div class="row4 fix">
        <div class="wp">
            <div class="tit-i">
                <h3>联系我们</h3>
                <h5><span>contact</span> webthink</h5>
            </div>
            <div class="contact-l">
                <ul class="ul-contact">
                    <li class="li1">运城市盐湖区星河创业园</li>
                    <li class="li2"><a href="tel:0359-51265006">0359-2486899 (咨询) / <a href="tel:0359-52459737">2486898 (售后)<br /><a href="tel:400-008-0408">400-008-0408 (咨询)</a><br /><a href="tel:18503599479">18503599479 (咨询)</li>
                    <li class="li3"><a href="mailto:hra@0359i.com">hra@0359i.com</a></li>
                </ul>
            </div>
            <div class="contact-r">

                <form action="" class="contact-form" method="post">
                    <div class="">
                        <input type="text" class="inp l" name="name" id="name" placeholder="您的姓名">
                        <input type="text" class="inp r" name="tel" id="tel" placeholder="您的联系方式">
                    </div>
                    <textarea cols="30" rows="10" name="txt_con" id="txt"></textarea>
                    <input type="submit" value="提交您的需求" class="sub" id="sub">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="c"></div>
<link rel="stylesheet" href="/css/animate.css" />
<link rel="stylesheet" href="/css/flexslider.css" />
<script type="text/javascript" src="/js/flexslider.js"></script>
<script type="text/javascript" src="/js/banner.js"></script>


