@{
    ViewBag.Title = "Case";
    ViewBag._menu = 0;
}
<div id="bd">
    <div id="banner">
        <div class="banner-bg"></div>
        <div class="flexslider">
            <ul class="slides">
                <li class="s1">
                    <img src="/images/banner3.jpg">
                    <div class="ban-txt">
                        <h5 data-animate="fadeInDown" class="animated">重要通知/innovating</h5>
                        <h2 data-animate="fadeInRight" class="animated">你学软件&nbsp;我送笔记本</h2>
                        <h3 data-animate="fadeInUp" class="animated">就业为导向 <b style="color:#fff;">保证</b> 高薪就业，即退全款！</h3>
                    </div>
                </li>
                <li class="s2">
                    <img src="/images/banner2.jpg">
                    <div class="ban-txt">
                        <h2 data-animate="fadeInRight" class="animated">正确的选择，可以少奋斗十年</h2>
                        <h3 data-animate="fadeInDown" class="animated">"Internet" technology</h3>
                        <h4 data-animate="fadeInUp" class="animated">“互联网”技术绝对是未来发展的核心，机会就在眼前，不能错过！</h4>
                        <h6 data-animate="fadeInUp" class="animated">www.0359i.com</h6>
                    </div>
                </li>
                <li class="s3">
                    <img src="/images/banner1.jpg">
                    <div class="ban-txt">
                        <h2 data-animate="fadeInDown" class="animated">岗前培训 高薪就业</h2>
                        <h3 data-animate="fadeInRight" class="animated">独特的教学方案</h3>
                        <h4 data-animate="fadeInUp" class="animated">一对一教学方案，手把手教你开发软件</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- end #banner -->
    <div class="row1 fix">
        <div class="wp">
            <div class="tit-i">
                <h3>鑫跃服务</h3>
                <h5>XINYUE <span>SERVICE</span></h5>
            </div>
            <ul class="ul-icon-i">
                <li class="li1">
                    <div class="pad">
                        <a href="/Home/Service/">
                            <span></span>
                            <h3>软件工程师人才培养</h3>
                            <em></em>
                            <p>近五年来，IT行业的发展可以用“迅雷不及掩耳之势”来形容，作为一个有基础的潜力巨大并且人才稀缺的朝阳行业，投身IT，做时下大热的IT男已经成为越来越多男生就业的不二选择。</p>
                            <div class="pic">
                                <img src="/images/m1.png" alt="">
                                <img src="/images/m2.png" alt="" class="pic-icon">
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li2">
                    <div class="pad">
                        <a href="">
                            <span></span>
                            <h3>定向人才输送</h3>
                            <em></em>
                            <p>在移动互联时代，我们得出“简单使用，精彩体验”的移动应用开发理念，创造属于无线时代的精彩互联。</p>
                            <div class="pic">
                                <img src="/images/m3.png" alt="">
                                <img src="/images/m4.png" alt="" class="pic-icon">
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li3">
                    <div class="pad">
                        <a href="">
                            <span></span>
                            <h3>微信应用开发</h3>
                            <em></em>
                            <p>为客户提供全方位的移动端营销服务，微信公众平台开发，微站设计。</p>
                            <div class="pic">
                                <img src="/images/m5.png" alt="">
                                <img src="/images/m6.png" alt="" class="pic-icon">
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li4">
                    <div class="pad">
                        <a href="">
                            <span></span>
                            <h3>手机APP开发</h3>
                            <em></em>
                            <p>按客户意图来定制开发app系统，IOS 安卓任您挑选，持续为企业无线创造新价值。</p>
                            <div class="pic">
                                <img src="/images/m7.png" alt="">
                                <img src="/images/m8.png" alt="" class="pic-icon">
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row2 fix">
        <div class="wp">
            <div class="tit-i">
                <h3>学员风采</h3>
                <h5><span>case</span> of XINYUE</h5>
            </div>
            <div class="case-i">

                <div class="case-i-r" style="width: 100%;">
                    <ul class="ul-case-i">
                        <li>
                            <a href="case_info_4_110.html">
                                <div class="pic"><img src="/images/14429937588106.jpg"></div>
                                <div class="hover">
                                    <b></b>
                                    <div class="txt">
                                        <img src="/images/logo_small.png" alt="">
                                        <h3>LMP品牌站官网</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="case_info_4_54.html">
                                <div class="pic"><img src="/images/14425590613750.jpg"></div>
                                <div class="hover">
                                    <b></b>
                                    <div class="txt">
                                        <img src="/images/logo_small.png" alt="">
                                        <h3>连洋鞋业网站</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="case_info_4_52.html">
                                <div class="pic"><img src="/images/14423045107241.jpg"></div>
                                <div class="hover">
                                    <b></b>
                                    <div class="txt">
                                        <img src="/images/logo_small.png" alt="">
                                        <h3>礼悦利达</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="case_info_4_49.html">
                                <div class="pic"><img src="/images/14423036593132.jpg"></div>
                                <div class="hover">
                                    <b></b>
                                    <div class="txt">
                                        <img src="/images/logo_small.png" alt="">
                                        <h3>竣腾影业网站</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="case_info_4_20.html">
                                <div class="pic"><img src="/images/14422959085097.jpg"></div>
                                <div class="hover">
                                    <b></b>
                                    <div class="txt">
                                        <img src="/images/logo_small.png" alt="">
                                        <h3>国家信息安全中心网站</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="case_info_4_102.html">
                                <div class="pic"><img src="/images/14429911135818.jpg"></div>
                                <div class="hover">
                                    <b></b>
                                    <div class="txt">
                                        <img src="/images/logo_small.png" alt="">
                                        <h3>中亿行官网</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="case_info_4_100.html">
                                <div class="pic"><img src="/images/14429905909518.jpg"></div>
                                <div class="hover">
                                    <b></b>
                                    <div class="txt">
                                        <img src="/images/logo_small.png" alt="">
                                        <h3>中粮集团</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="case_info_4_70.html">
                                <div class="pic"><img src="/images/14429012824914.jpg"></div>
                                <div class="hover">
                                    <b></b>
                                    <div class="txt">
                                        <img src="/images/logo_small.png" alt="">
                                        <h3>十方天使基金</h3>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="c"></div>
                <div class="more-i"><a href="case4_0-1"></a></div>
            </div>
        </div>
    </div>
    <div class="row3 news-bg">
        <div class="wp">
            <div class="tit-i tit-i-1">
                <h3>行业动态</h3>
                <h5>XINYUE <span>news</span></h5>
            </div>
            <ul class="ul-news-i">
                <li>
                    <div class="pad">
                        <div class="txt">
                            <span><em>03/01</em>2016</span>
                            <h3><a href="news_info_5_313.html">给设计师的网页动画设计基础</a></h3>
                            <p>随着技术的积累，网页中的动画也已经是遍地开花，它时尚，有趣，也人性化。不断涌现的新技术和新工</p>
                            <a href="news_info_5_313.html" class="more"></a>
                        </div>
                        <div class="hover">
                            <div class="img" style="background: url(/images/14568143499060.jpg) 0 0 /100% 100% no-repeat;background: url(images/14568143499060.jpg) 0 0 no-repeat\9;"></div>
                            <div class="pad">
                                <h3><a href="news_info_5_313.html">给设计师的网页动画设计基础</a></h3>
                                <p>随着技术的积累，网页中的动画也已经是遍地开花，它时尚，有趣，也人性化。不断涌现的新技术和新工</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pad">
                        <div class="txt">
                            <span><em>02/22</em>2016</span>
                            <h3><a href="news_info_5_310.html">常见的网站交互设计错误</a></h3>
                            <p>好的交互设计可以区分开有质量的网站和其他普通网站。然而，如果有明显的设计错误，它只会给予你本</p>
                            <a href="news_info_5_310.html" class="more"></a>
                        </div>
                        <div class="hover">
                            <div class="img" style="background: url(/images/14561176714477.png) 0 0 /100% 100% no-repeat;background: url(images/14561176714477.png) 0 0 no-repeat\9;"></div>
                            <div class="pad">
                                <h3><a href="news_info_5_310.html">常见的网站交互设计错误</a></h3>
                                <p>好的交互设计可以区分开有质量的网站和其他普通网站。然而，如果有明显的设计错误，它只会给予你本</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pad">
                        <div class="txt">
                            <span><em>02/15</em>2016</span>
                            <h3><a href="news_info_5_305.html">聊聊WEB网站和移动APP的六大交</a></h3>
                            <p>交互设计中的Web网站和移动App的设计，前者依托于PC的浏览器，后者则是依托于手机/平板电脑。不同的设</p>
                            <a href="news_info_5_305.html" class="more"></a>
                        </div>
                        <div class="hover">
                            <div class="img" style="background: url(/images/14555070718366.jpg) 0 0 /100% 100% no-repeat;background: url(images/14555070718366.jpg) 0 0 no-repeat\9;"></div>
                            <div class="pad">
                                <h3><a href="news_info_5_305.html">聊聊WEB网站和移动APP的六大交</a></h3>
                                <p>交互设计中的Web网站和移动App的设计，前者依托于PC的浏览器，后者则是依托于手机/平板电脑。不同的设</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pad">
                        <div class="txt">
                            <span><em>01/26</em>2016</span>
                            <h3><a href="news_info_5_299.html">设计注册/登录界面时注意的常</a></h3>
                            <p>随着时代的发展，新用户注册、登录到真正加入一个网站的过程一直在变化，从简单的信息填写发展到全</p>
                            <a href="news_info_5_299.html" class="more"></a>
                        </div>
                        <div class="hover">
                            <div class="img" style="background: url(/images/14537972384811.jpg) 0 0 /100% 100% no-repeat;background: url(images/14537972384811.jpg) 0 0 no-repeat\9;"></div>
                            <div class="pad">
                                <h3><a href="news_info_5_299.html">设计注册/登录界面时注意的常</a></h3>
                                <p>随着时代的发展，新用户注册、登录到真正加入一个网站的过程一直在变化，从简单的信息填写发展到全</p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <div class="c"></div>
            <div class="news-more"><a href="news5_0-1">load more</a></div>
        </div>
    </div>
    <div class="row4 fix">
        <div class="wp">
            <div class="tit-i">
                <h3>联系我们</h3>
                <h5><span>contact</span> webthink</h5>
            </div>
            <div class="contact-l">
                <ul class="ul-contact">
                    <li class="li1">运城市盐湖区星河创业园</li>
                    <li class="li2"><a href="tel:0359-51265006">0359-2486899 (咨询) / <a href="tel:0359-52459737">2486898 (售后)<br /><a href="tel:400-008-0408">400-008-0408 (咨询)</a><br /><a href="tel:18503599479">18503599479 (咨询)</li>
                    <li class="li3"><a href="mailto:hra@0359i.com">hra@0359i.com</a></li>
                </ul>
            </div>
            <div class="contact-r">

                <form action="" class="contact-form" method="post">
                    <div class="">
                        <input type="text" class="inp l" name="name" id="name" placeholder="您的姓名">
                        <input type="text" class="inp r" name="tel" id="tel" placeholder="您的联系方式">
                    </div>
                    <textarea cols="30" rows="10" name="txt_con" id="txt"></textarea>
                    <input type="submit" value="提交您的需求" class="sub" id="sub">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="c"></div>
<link rel="stylesheet" href="/css/animate.css" />
<link rel="stylesheet" href="/css/flexslider.css" />
<script type="text/javascript" src="/js/flexslider.js"></script>
<script type="text/javascript" src="/js/banner.js"></script>


