<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf8">
    <title>太原诚信防水堵漏</title>
    <meta name="keywords" content="太原诚信防水堵漏" />
    <meta name="description" content="太原诚信防水堵漏" />
    <link href="/content/css/style.css" type="text/css" rel="stylesheet" />
    <link href="/content/css/index_hd.css" rel="stylesheet" />

    <script type="text/javascript" src="/content/css/jquery.min.js"></script>
    <script type="text/javascript" src="/content/css/index_hd.js"></script>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="left">
                <span><img src="/content/images/topico.png"></span>
                <strong>免费咨询热线：0351-7024687</strong>
                <strong>欢迎您！</strong>
            </div>
            <div class="right">
                <a href="#">加入收藏</a>|
                <a href="#">设为首页</a>
            </div>
            <div class="cl"></div>
        </div>
    </div>
    <div class="nav wrap">
        <div class="logo left">
            <a href="#"><img src="/content/images/logo.png" /></a>
        </div>
        <ul class="nav-menu">
            <li class="hover"><a href="#">诚信首页</a></li>
            <li><a href="#">关于诚信</a></li>
            <li><a href="#">服务范围</a></li>
            <li><a href="#">解决方案</a></li>
            <li><a href="#">客户案例</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">外墙粉刷</a></li>
            <li><a href="#">联系方式</a></li>
        </ul>
    </div>
    <div class="banner">
        <div class="index_slide rel">
            <ul class="slide" style="padding:0;margin:0;">
                <li style="background-image: url(/content/images/banner.png);  background-position: 50% 50%; background-repeat: no-repeat;"></li>
                <li style="background-image: url(/content/images/banner1.png); display:none; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"></li>
                <li style="background-image: url(/content/images/banner2.png); display:none; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"></li>
                <li style="background-image: url(/content/images/banner3.png); display:none; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"></li>
                <li style="background-image: url(/content/images/banner.png); display:none; background-position: 50% 50%; background-repeat: no-repeat no-repeat;"></li>
            </ul>
            <ul class="trg abs on">
                <li class="" style="cursor:pointer;" target="_self">1</li>
                <li class="" style="cursor:pointer;" target="_self" href="javascript:void(0);">2</li>
                <li class="" style="cursor:pointer;" target="_self" href="javascript:void(0);">3</li>
                <li class="" style="cursor:pointer;" target="_self" href="javascript:void(0);">4</li>
                <li class="" style="cursor:pointer;" target="_self" href="javascript:void(0);">5</li>
            </ul>

            <script type="text/javascript" src="/content/css/jquery-1.js"></script>
            <script type="text/javascript" src="/content/css/yg.js"></script>
        </div>
    </div>
    <div class="wrapper-fs">
        <div class="wrap">
            <div class="gg-1">
                <a href="#"><img src="/content/images/gg1.png" /></a>
            </div>
            <div class="wrapper-fs-con">
                <div class="fs-top">
                    <h3 class="left"><img src="/content/images/titlec.png"></h3>
                    <span><a href="#">>>更多</a></span>
                    <div class="cl"></div>
                </div>
                <ul>
                    <li>
                        <a href="#" class="fs-img"><img src="/content/images/fs1.png" /></a>
                        <a href="#" class="fs-title">环保型聚氨酯密封膏</a>
                    </li>
                    <li>
                        <a href="#" class="fs-img"><img src="/content/images/fs2.png" /></a>
                        <a href="#" class="fs-title">环保型聚氨酯密封膏</a>
                    </li>
                    <li>
                        <a href="#" class="fs-img"><img src="/content/images/fs3.png" /></a>
                        <a href="#" class="fs-title">环保型聚氨酯密封膏</a>
                    </li>
                    <li>
                        <a href="#" class="fs-img"><img src="/content/images/fs4.png" /></a>
                        <a href="#" class="fs-title">环保型聚氨酯密封膏</a>
                    </li>
                    <div class="cl"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap wrapper-new">
        <div class="left w-n-l">
            <div class="top-title"><h2>关于诚信 /<small>ABOUT US</small></h2></div>
            <img src="/content/images/newleft.png" />
            <p>
                太原诚信防水堵漏，屋顶防水质
                保十年，卫厨防水质保终生，专业承
                接各种建筑物防水、堵漏、等工程，
                积累了丰富的防水堵漏解决经验，管
                理严格、运作规范、施工队伍素质高、
                质量可靠。多年来先后承担了多项防
                水工程、堵漏工程，竣工面积达100
                多万平方米。所参与的防水工程均得
                到了客户的一致肯定与好评!【详情】


            </p>
        </div>
        <div class="left w-n-c">
            <div class="top-title"><h2>关于诚信 /<small>ABOUT US</small></h2><span><a href="#">>>更多</a></span></div>
            <ul>
                <li>
                    <div class="left"><span>11/25</span><em>2016</em></div>
                    <a class="new-titlen" href="#">高等教育自学考试成绩将于11月16日揭晓</a>
                    <p>
                        我省2015年10月高等教育自学考试成绩将于11月16日揭晓 我
                        省2015年10月高等教育自学考试成绩将于11月16日1...【详细】
                    </p>
                </li>
                <li>
                    <div class="left"><span>11/25</span><em>2016</em></div>
                    <a class="new-titlen" href="#">高等教育自学考试成绩将于11月16日揭晓</a>
                    <p>
                        我省2015年10月高等教育自学考试成绩将于11月16日揭晓 我
                        省2015年10月高等教育自学考试成绩将于11月16日1...【详细】
                    </p>
                </li>
                <li>
                    <div class="left"><span>11/25</span><em>2016</em></div>
                    <a class="new-titlen" href="#">高等教育自学考试成绩将于11月16日揭晓</a>
                    <p>
                        我省2015年10月高等教育自学考试成绩将于11月16日揭晓 我
                        省2015年10月高等教育自学考试成绩将于11月16日1...【详细】
                    </p>
                </li>
            </ul>
        </div>
        <div class="right w-n-r">
            <img src="/content/images/newright.png" />
        </div>
        <div class="cl"></div>
    </div>
    <div class="wrapper-anli">
        <div class="wrap">
            <h1>堵漏案例</h1>
            <h2>PRODUCTS</h2>
            <div class="wrapper-anli-con">

                <div id="slideBox">
                    <div class="J_slide">
                        <div class="J_slide_clip" style="position: relative; overflow: hidden; height: 298px; width: 1014px;">
                            <ul class="J_slide_list">
                                <li class="J_slide_item" style="float: left;">
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al1.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al2.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al3.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al4.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                </li>
                                <li class="J_slide_item" style="float: left;">
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al1.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al2.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al3.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al4.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                </li>
                                <li class="J_slide_item" style="float: left;">
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al1.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al2.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al3.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al4.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                </li>
                                <li class="J_slide_item" style="float: left;">
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al1.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al2.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al3.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                    <div>
                                        <a href="#" class="al-img"><img src="/content/images/al4.png" /></a>
                                        <a href="#" class="al-title">环保型聚氨酯密封膏</a>
                                    </div>
                                </li>


                            </ul>
                        </div>
                        <ul class="J_slide_trigger">
                            <li class="">&nbsp;</li>
                            <li class="">&nbsp;</li>
                            <li class="cur">&nbsp;</li>
                            <li class="">&nbsp;</li>
                        </ul>
                    </div>
                </div>

                <script type="text/javascript">
			new Slide('#slideBox',{index: 1 ,effect:'slide', firstDelay:8});
                </script>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="gg2"><a href="#"><img src="/content/images/gg2.png" /></a></div>
        <div class="fuwu">
            <div class="fuwutitle"><img src="/content/images/fuwutitle.png" /></div>
            <div class="fw1">
                <h2><a href="#">屋面防水</a></h2>
                <p>承接各类建筑屋面防水；各种金属体全面防水工程</p>
            </div>
            <div class="fw2">
                <h2><a href="#">外墙面防水</a></h2>
                <p>外墙立面，圾面,板缝，窗边，窗户缝，外飘窗防水工程。</p>
            </div>
            <div class="fw3">
                <h2><a href="#">地下防水</a></h2>
                <p>各类地下室，地下车库，地下管沟，隧道防水工程。</p>
            </div>
            <div class="fw4">
                <h2><a href="#">室内厨卫间防水</a></h2>
                <p>各类厨房，卫生间，浴池防水工程。</p>
            </div>
            <div class="fw5">
                <h2><a href="#">特殊建（构）筑物和部位防水</a></h2>
                <p>如桥梁，水池，水塔，消防池，游泳池，彩钢房，采光棚，室内花园，贮油罐，贮油池防水。</p>
            </div>
            <div class="fwtitle"><a href="#">防水工程</a></div>
        </div>
    </div>
    <div class="wrapper-1">
        <div class="wrap">
            <div class="dl1">
                <p>电信地下电缆井，电缆沟，电梯井，地铁，</p>
                <p>涵洞，污水处理池，垃圾填埋场，人防工程砼裂缝渗漏水</p>
                <p>带水堵漏施工。</p>
            </div>
            <div class="dl2">
                <p>
                    地下室,地下车库,地下隧道，游泳池，
                    消防池，餐厅厨房，卫生间，砼裂缝
                    渗漏水,带水堵漏的维修施工。
                </p>
            </div>
            <div class="dl3">
                <p>
                    各类水池，消费池，游泳池，冷却塔外壁，
                    凉水塔外壁防腐堵漏维修施工。
                </p>
            </div>
            <div class="dl4">
                <p>
                    屋面砼板裂缝,穿墙管，墙角渗漏水，
                    带水堵漏施工。
                </p>
            </div>
            <div class="dl5">
                <p>
                    各类外飘窗，窗户缝，彩钢缝，
                    采光棚的渗漏水维修施工。
                </p>
            </div>
            <div class="dl6">
                <p>
                    各种建筑物与地下浑凝土工程的裂缝,伸缩缝，
                    沉降缝，结构缝，变形缝的堵漏密封。
                </p>
            </div>
            <div class="dltitle"><a href="#">堵漏工程</a></div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-1"><img src="/content/images/foot.png" /></div>
        <div class="footer-2"></div>
    </div>
</body>
</html> 