<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>万尊地板|防静电地板</title>
    <link rel="stylesheet" type="text/css" href="/Content/css/reset.css" />
    <script type="text/javascript" src="/Content/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/Content/js/js_z.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/plugins/FlexSlider/flexslider.css">
    <script type="text/javascript" src="/Content/plugins/FlexSlider/jquery.flexslider.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/css/thems.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/responsive.css">
    <script src="~/Content/Config.js"></script>
</head>
<body>
    <div class="m_bg">&nbsp;</div>
    <div class="main">
        <div class="header h_fix">
            <div class="head clearfix">
                <div class="logo"><a href=""><img src="/Content/images/logo.png" alt="防静电地板" /></a></div>
                <div class="nav_m">
                    <div class="n_icon">导航栏</div>
                    <ul class="nav clearfix">
                        <li class="now"><a href="/">首页</a></li>
                        <li><a href="/home/About/F3076D41-FA91-4165-8D0F-F8C183F6BF97">关于我们</a></li>
                        <li><a href="/home/Product">产品中心</a></li>
                        <li><a href="/Home/news/E7327750-5EE5-4A4A-A4A7-B8120CBAD26A">新闻中心</a></li>
                        <li><a href="/home/support/BEF20570-FA9A-40F1-AA55-5BBD70204AD1">企业形象</a></li>
                        <li><a href="/Home/news/E7327750-5EE5-4A4A-A4A7-B8120CBAD26A">工程案例</a></li>
                        <li><a href="/home/support/31BF0300-2B44-43A0-8AEE-B4D57623CEB6">荣誉证书</a></li>
                        <li><a href="/home/support">联系我们</a></li>
                    </ul>
                </div>
                @*<div class="lang">
                        <div class="lang_m">
                            <span>CH</span>
                            <em>&nbsp;</em>
                        </div>
                        <ul>
                            <li>EN</li>
                            <li>CH</li>
                        </ul>
                    </div>*@
                @*<div class="search">
                    <input name="" type="text">
                    <input name="" type="submit" value="">
                </div>*@
            </div>
        </div>

        <!--头部-->
        @RenderBody()
        <div class="foot">
            版权所有 深圳市为科科技有限公司  粤ICP备123459789-1号
        </div>
    </div>
</body>
</html>
